.viewing_log_card
  %header.viewing_log_card-header
    %h1.viewing_log_card-heading
      Viewing Log
    .viewing_log_card-slug
      I've watched #{viewings.length} movies since 2012.

  .viewing_log_card-filters{ data: { filter_controls: true, target: '#viewings' }}
    %h2.viewing_log_card-filters_heading Filter and Sort
    .viewing_log_card-filters_content
      = text_filter(placeholder: 'Enter all or part of a title', attribute: 'data-title', label: 'Title')
      = range_filter(label: 'Year',
                     attribute: 'data-release-date-year',
                     min: oldest_year(collection: viewings.values, date_method: :release_date),
                     max: newest_year(collection: viewings.values, date_method: :release_date))
      = sort_filter(label: 'Order By',
                    attribute: 'viewing-date-desc',
                    target: '#viewings',
                    options: [['Viewing Date (Newest First)', 'viewing-date-desc'],
                              ['Viewing Date (Oldest First)', 'viewing-date-asc'],
                              ['Release Date (Newest First)', 'release-date-desc'],
                              ['Release Date (Oldest First)', 'release-date-asc'],
                              %w(Title sort-title-asc)])
