.viewing_log_card-header {
  background-color: #fafafa;
  border-bottom: 1px solid #eaeaea;

  padding: 35px 0 44px;

  @media only screen and (min-width: 50em) {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin: 42px 1.12rem 0;
  }
}

.viewing_log_card-heading {
  text-align: center;
}

.viewing_log_card-slug {
  color: #aaa;
  text-align: center;
  margin-bottom: 8px;
  line-height: 1.12rem;
  font-size: .88rem;
}

.viewing_log_card-filters {
  @media only screen and (min-width: 50em) {
    margin: 1.5rem 1.12rem;
    border-radius: 5px;
    border: 1px solid #eaeaea;
  }
}

.viewing_log_card-filters_heading {
  display: block;
  text-decoration: none;
  padding: 18px 32px 18px 16px;
  position: relative;
  font-size: 19px;
  color: #aaa;
  font-weight: normal;
  margin: 0 0 18px;
}

.viewing_log_card-filters_content {
  padding: 0 1.12rem;
  border-bottom: 1px solid #eaeaea;

  @media only screen and (min-width: 50em) {
    border-bottom: 0;
  }
}