@import 'source/stylesheets/variables';

.metrics_header {
  padding: 35px 20px 20px;
  text-align: center;

  @media only screen and (min-width: 50em) {
    margin: 20px;
    padding: 20px;
    text-align: left;
  }
}

.metrics_header-heading {
  line-height: 60px;
  margin-bottom: 0;
}

.metrics_header-slug {
  color: $color_text_secondary;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0;
}
