.metrics_most_watched_table {
  border-radius: 5px;
  border: 1px solid #e9e7e0;
  width: 100%;

  td {
    border-top: 1px solid #e9e7e0;
    padding: 0 20px;
    border-right: 1px solid #e9e7e0;
    line-height: 29px;

    &:last-child {
      border-right: 0;
    }
  }
}

.metrics_most_watched_table-header {
  text-align: left;
  padding: 0 20px;
}

.metrics_most_watched_table-viewings_column {
  padding: 0 20px;
  text-align: right;
  width: 15%;
}