%table.metrics_most_watched_table
  %thead
    %tr
      %th.metrics_most_watched_table-header
        = column_1_label
      %th.metrics_most_watched_table-viewings_column
        Viewings
  %tbody
    - rows.each do |row|
      %tr
        %td= row[0]
        %td.metrics_most_watched_table-viewings_column= row[1]
