.metrics_nav
  %h2.metrics_nav-heading
    Most Watched
  %ul.metrics_nav-list
    %li.metrics_nav-item
      %a.metrics_nav-item_link{ href: '#most-watched-titles'}
        Titles
    %li.metrics_nav-item
      %a.metrics_nav-item_link{ href: '#most-watched-directors'}
        Directors
    %li.metrics_nav-item
      %a.metrics_nav-item_link{ href: '#most-watched-performers'}
        Performers
    %li.metrics_nav-item
      %a.metrics_nav-item_link{ href: '#most-watched-writers'}
        Writers