@import 'source/stylesheets/variables';

.metrics_nav {
  border: 1px solid $color_primary;
  border-radius: 5px;
  margin: 20px;
}

.metrics_nav-heading {
  border-bottom: 1px solid $color_primary;
  color: $color_accent;
  display: block;
  font-size: 19px;
  font-weight: normal;
  margin: 0;
  padding: 20px;
  position: relative;
  text-decoration: none;
}

.metrics_nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.metrics_nav-item {
  border-bottom: 1px solid $color_primary;

  &:last-child {
    border-bottom: 0;
  }
}

.metrics_nav-item_link {
  color: inherit;
  display: block;
  line-height: 39px;
  padding: 0 20px;
  position: relative;

  &:after {
    background-image: encode_svg('<svg xmlns="http://www.w3.org/2000/svg" width="2048" height="2048"><path d="M1315 1024q0-13-10-23L839 535q-10-10-23-10t-23 10l-50 50q-10 10-10 23t10 23l393 393-393 393q-10 10-10 23t10 23l50 50q10 10 23 10t23-10l466-466q10-10 10-23z" fill-opacity=".7"/></svg>');
    background-size: contain;
    content: '';
    height: 1rem;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 1rem;
  }

  &:hover {
    color: $color_link;

    &:after {
      background-image: encode_svg('<svg xmlns="http://www.w3.org/2000/svg" width="2048" height="2048"><path d="M1315 1024q0-13-10-23L839 535q-10-10-23-10t-23 10l-50 50q-10 10-10 23t10 23l393 393-393 393q-10 10-10 23t10 23l50 50q10 10 23 10t23-10l466-466q10-10 10-23z" fill="#579"/></svg>');
    }
  }
}
