@import 'source/stylesheets/variables';
@import 'source/layouts/layout_columns';
@import 'source/templates/metrics/metrics_header';
@import 'source/templates/metrics/metrics_nav';
@import 'source/templates/metrics/metrics_table';

.metrics {
  padding: 20px 20px 60px;
}

.metrics-heading {
  color: $color_accent;
  line-height: 30px;
  margin-top: 20px;
  padding: 0 20px;
}
