@import 'source/stylesheets/variables';
@import 'source/stylesheets/mixin_body_text';

.review_meta {
  @include body-text;
  border-top: 1px solid $color_primary;
  margin: 40px 0 20px;
  padding: 20px 0;
}

.review_meta-title {
  font-weight: bold;
  display: block;
}

.review_meta-aka_heading {
  &:after {
    content: ': ';
  }
}

.review_meta-divider {
  color: $color_accent;
}

.review_meta-aka_title {
  font-style: italic;

  &:after {
    color: $color_accent;
    content: ' | ';
    white-space: normal;
  }

  &:last-of-type:after {
    content: '';
  }
}

.review_meta-director {
  display: block;
}

.review_meta-country {
  display: block;
}

.review_meta-seen {
  display: block;
}