@import 'source/stylesheets/variables';
@import 'source/components/more_list/more_list';

.review_more {
  margin: 0 auto;
  max-width: 700px;
  padding-bottom: 30px;
}

.review_more-heading {
  border-bottom: 1px solid $color_primary;
  font-size: 16px;
  margin: 0 0 10px;
  padding-bottom: 4px;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

.review_more-person_link {
  color: inherit;
  font-weight: bold;
}
