@import 'source/components/more_list/more_list';

.review_more {
  margin: 0 auto;
  max-width: 700px;
  padding-bottom: 30px;
}

.review_more-heading {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  padding-bottom: 4px;
  border-bottom: 1px solid #e9e7e0;
  margin: 0 0 10px;

  span {
    font-weight: bold;
  }
}
