:ruby
  directors = MovieDb.directors_for_title(db: Movielog.db, title: review.db_title)
  cast = MovieDb.headline_cast_for_title(title: review.db_title, db: Movielog.db, count: 100)
  writers = MovieDb.writers_for_title(title: review.db_title, db: Movielog.db)
  tags = (directors + cast + writers).uniq(&:full_name)

.review_tags
  %ul.review_tags-list
    - tags.each do |person|
      - next unless Movielog.cast_and_crew.key?(person.full_name)
      %li.review_tags-list_item= cast_and_crew_link(person, class: 'review_tags-link')
