:ruby
  more_for_cast = Movielog::Db::QueryRelatedTitlesByCast.call(db: Movielog.db, title: review.db_title)

- unless more_for_cast.empty?
  - more_for_cast.each do |performer, titles|
    - next unless titles.length > 4
    - reviews = array_window(titles, 5, review.db_title).select{ |title| title != review.db_title }.map{ |title| Movielog.reviews_by_title[title] }
    .review_more
      .review_more-heading
        More with <span>#{performer.first_name} #{performer.last_name}</span>
      = partial('components/more_list/more_list', locals: { reviews: reviews })
