@import 'source/layouts/layout_single';
@import 'source/components/post_backdrop/post_backdrop';
@import 'source/components/post_content/post_content';
@import 'source/templates/review/review_meta';
@import 'source/templates/review/review_tags';
@import 'source/templates/review/review_more';

$review_post_content_first_line_color: #000;

.review {
  padding-bottom: 30px;

  .post_content {
    > p:first-child:before {
      content: attr(data-time) '\2014';
      text-transform: uppercase;
    }
  }
}

.review-title {
  font-size: 32px;
  line-height: 1.1;
  margin-bottom: 0;
  padding: 30px 20px 20px;
  text-align: center;

  @media only screen and (min-width: 35em) {
    font-size: 42px;
  }
}

.review-grade {
  display: block;
  height: auto;
  margin: 10px auto 30px;
  max-width: 150px;
  width: 33%;
}
