.post_share_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 98;
  box-shadow: 0 0 1px rgba(0,0,0,0.4);
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  font-size: 13px;
  padding: 0 1.12rem;
  text-align: center;
}

.post_share_footer-wrap {
  width: 100%;
  max-width: 1336px;
  padding: 0 .9rem;
  margin: 0 auto;
}

.post_share_footer-facebook {
  background-color: #425184;
  width: 120px;
  padding: 0;
  text-align: center;
  border-radius: 14px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  line-height: 28px;
  color: #fff;
  height: 28px;
  font-weight: normal;
  text-rendering: optimizeLegibility;

  svg {
    width: 14px;
    height: 14px;
    margin-top: 6px;
    margin-right: 5px;
    fill: #fff;
    stroke: none;
    vertical-align: top;
  }
}

.post_share_footer-link {
  display: inline-block;

  &:first-child {
    padding-right: 10px;
  }

  &:last-child {
    padding-left: 10px;
  }
}

.post_share_footer-twitter {
  background-color: #18a7e1;
  width: 120px;
  padding: 0;
  text-align: center;
  border-radius: 14px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  color: #fff;
  height: 28px;
  font-weight: normal;
  line-height: 28px;
  text-rendering: optimizeLegibility;

  svg {
    width: 14px;
    height: 14px;
    margin-top: 6px;
    margin-right: 5px;
    fill: #fff;
    stroke: none;
    vertical-align: top;
  }

  @media(min-width: 64em) {
    width: auto;
    padding: 0 .8rem 0 .7rem;
  }
}
