.cast_and_crew_list-heading {
  font-size: 14px;
  color: #a9a287;
  line-height: 1.4;
  margin: 0 0 15px;
  font-weight: normal;
  padding: 20px 0 0;
  text-transform: uppercase;
}

.cast_and_crew_list-wrap {
  padding: 0 20px 30px;
}