@import 'source/stylesheets/variables';
@import 'source/layouts/layout_single';
@import 'source/components/page/page';

.not_found-search_input {
  border: 1px solid $color_primary;
  border-radius: 5px;
  font-size: 20px;
  line-height: 38px;
  padding: 2px 20px;
  width: 100%;
}
