.about .card_text {
  line-height: 1.58;
}

.about_twitter_link {
  display: inline-block;
  font-family: $sans;
  font-size: .7rem;
  padding-left: 1.2rem;
  position: relative;
  text-transform: uppercase;

  &:after {
    background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="-192 -384 2048 2048"><path d="M1620 152q-67 98-162 167 1 14 1 42 0 130-38 259.5T1305.5 869Q1228 988 1121 1079.5t-258 146Q712 1280 540 1280q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5T221 777q33 5 61 5 43 0 85-11-112-23-185.5-111.5T108 454v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5T820 397q-8-38-8-74 0-134 94.5-228.5T1135 0q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z" fill="#0054ab"/></svg>');
    content: '';
    height: .8rem;
    left: 0;
    position: absolute;
    top: .4rem;
    width: .8rem;
  }
}
