$body-background-color: #fff;

* {
  box-sizing: border-box;
}

html,
body {
  counter-reset: filter-results;
  margin: 0;
  overflow-x: hidden;  // Prevent scroll on narrow devices
  padding: 0;
  text-size-adjust: 100%;
}

html {
  font-family: $font-system;
  font-feature-settings: 'kern';
  font-size: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  text-rendering: optimizeLegibility;


  @media (min-width: $tablet-breakpoint) {
    line-height: 28px;
  }
}

body {
  background-color: $body-background-color;
  color: rgba(0, 0, 0, .87);
  padding-top: 2.4rem;

  @media(min-width: $tablet-breakpoint) {
    padding-top: 2.8rem;
  }

  @media(min-width: $desktop-breakpoint) {
    padding-top: 3.2rem;
  }
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $highlight;
  text-decoration: none;
}

input::placeholder {
  color: rgba(0, 0, 0, .38);
  font-size: .65rem;
  transform: translate(0, 0);
  transition: opacity .3s linear;

  @media (min-width: $tablet-breakpoint) {
    font-size: .75rem;
  }
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transform: translate(0, 0);
}

p {
  margin-bottom: 1.65rem;
  margin-top: 0;
}

%container {
  margin-left: auto;
  margin-right: auto;
  max-width: 51.2rem;
}

@mixin base-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 51.2rem;
}

.content-container {
  @extend %container;

  @media (min-width: $desktop-breakpoint) {
    // box-shadow: 0 0 1px rgba(0,0,0,.15);
  }
}

.full {
  display: none;
}

.abbreviation:after {
  content: ':';
}

@media (min-width: $abbreviation-breakpoint) {
  .abbreviation:after {
    content: '';
  }

  .full {
    display: inline;
  }
}
