$card-background-color: #fff;
$card-count-background-color: #ddd;
$card-divider-color: #eee;

@mixin card_header_with_date {
  > .card_header-title {
    order: 1;
    width: calc(100% - 3.75rem);
  } 

  > .card_header-rating {
    order: 3;
  } 

  > .card_header-date {
    font-size: .6rem;
    line-height: 1.2rem;
    order: 2;
    text-transform: uppercase;

    &:before {
      content: '';
    }
  }  
}

.card {
  background-color: $card-background-color;
  list-style-type: none;
  padding-bottom: 2.4rem;
  position: relative;
}

.card--with_shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
}

.card_header {
  display: flex;
  flex-wrap: wrap;
  height: 3.6rem;
  padding: .8rem;
  position: relative;
}

.card_header--with_date {
  @media(min-width: $desktop-breakpoint) {
    @include card_header_with_date;
  }
}


.card_header-title {
  color: rgba(0, 0, 0, .8);
  display: block;
  font-family: $sans;
  font-size: .8rem;
  font-weight: 500;
  line-height: 1.2rem;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
}

.card_header-rating {
  display: inline-block;
  height: .7rem;
  width: auto;
}

.card_header-date {
  color: rgba(0, 0, 0, .3);
  display: inline;
  font-family: $sans;
  font-feature-settings: 'lnum';
  font-size: .65rem;
  font-weight: 400;
  letter-spacing: -.01rem;
  line-height: .8rem;
  
  &:before {
    content: ' \00a0on\00a0 ';
    font-weight: normal;
  }
}

.card_backdrop {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 .4rem;
  opacity: 0;
  padding-top: 56.249999993%;
  transition: .8s opacity;

  &.loaded {
    opacity: 1;
  }

  @media(min-width: $tablet-breakpoint) {
    margin: 0;
  }
}

.card_slug {
  color: rgba(0, 0, 0, .4);
  font-family: $sans;
  font-size: .7rem;
  letter-spacing: -.01rem;
  line-height: .8rem;
  padding: .8rem .8rem 0;
}

.card_text {
  color: rgba(0, 0, 0, .7);
  font-family: $serif;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.2rem;
  padding: .8rem;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card_actions {
  bottom: 0;
  color: rgba(0, 0, 0, .4);
  font-family: $sans;
  font-size: .7rem;
  left: 0;
  letter-spacing: -.01rem;
  line-height: 1.6rem;
  padding: .4rem .8rem;
  position: absolute;
  right: 0;

  a {
    display: inline-block;
    margin-right: .1rem;
    text-transform: uppercase;
  }
}

.card_actions--with_divider {
  border-top: solid 1px $card-divider-color;
  padding-top: .35rem;
}
