.card_list {
  display: flex;
  // flex-direction: column;
  margin: 0 auto;
  list-style-type: none;
  padding: 0 .8rem;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  width: 100%;

  // @media(min-width: $tablet-breakpoint) {
  //   padding: 0 .8rem;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // }

  // @media(min-width: $desktop-breakpoint) {
  //   padding: 0 1.2rem;
  // }


}

.recent_releases-wrap {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
  padding: 1.05rem .9rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  @media only screen and (min-width: 49.94em) {
    overflow-y: auto;
    overflow-x: auto;
  }
}

.recent_releases {
  width: 230vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  max-width: 1336px;
  list-style-type: none;


  @media only screen and (max-width: 49.94em) and (min-width: 37.5em) {
    width: 170vw;
  }

  @media only screen and (min-width: 49.94em) {
    width: 100%;
    padding: 0 .9rem;
  }
}

.recent_release {
  width: 100%;
  position: relative;
  margin-right: 1.05rem;
  display: block;

  @media only screen and (min-width: 49.94em) {
    &:last-child {
      margin-right: 0;
    }
  }
}

.recent_release-backdrop {
  width: 100%;
}

.recent_release-wrap {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 1rem;
  // padding: 16% .5rem 0;
  // background-image: linear-gradient(transparent,rgba(0,0,0,0.8));
  // background-position-y: -1px;
}

.recent_release-title {
  font-weight: normal;
  padding: 0 .5rem;
  font-size: 1.1rem;
  line-height: 1;
  margin: 0 0 .1rem;
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  display: inline;
  // float: left;
  box-decoration-break: clone;

  p {
    display: inline;
  }
}

.recent_release-grade {
  height: .8rem;
  // margin-bottom: .3rem;
  // background-color: rgba(0,0,0,0.7);
  // display: inline;
  // float: left;
  clear: both;
}

.page_wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1336px;
  flex-direction: column;
  width: 100%;

  @media only screen and (min-width: 64em) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.post_list {
  margin: 0 auto;
  padding: 1rem 0 0;
  max-width: 40rem;
}

.main {
  padding: 0 .9rem;

  @media only screen and (min-width: 64em) {
    width: 66.5%;
    border-left: 1px solid #e5e5e5;
    order: 2;
  }
}

.sidebar {
  display: flex;
  border-top: solid 1px #e5e5e5;
  justify-content: space-between;
  flex-direction: column;

  @media only screen and (min-width: 37.5em) {
    flex-direction: row;
  }

  @media only screen and (min-width: 64em) {
    order: 1;
    border-right: 1px solid #e5e5e5;
    flex-direction: column;
    width: 33.5%;
    justify-content: flex-start;
    border-top: 0;
  }
}

.post_list-post {
  list-style-type: none;
  margin-bottom: 1.5rem;

  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #e5e5e5;
    margin-top: 1.5rem;
    margin-right: 0;
  }

  @media only screen and (min-width: 37.44em) {
    &:nth-child(3n + 3) {
      .post_list-post_content_wrap {
        display: flex;
      }
      .post_list-post_backdrop-wrap {
        width: 33.33%;
      }
      .post_list-post_content {
        width: 66.67%;
        padding-left: 0;
      }
      .post_list-post_title {
        font-size: 1.1rem;
      }
    }
  }
}

.post_list-post_header {
  margin-bottom: .75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

   @media only screen and (min-width: 64em) {
    align-items: baseline;
   }
}

.post_list-post_title {
  font-size: 1.2rem;
  margin: .5rem 0 0;
  font-weight: bold;
  line-height: 1.3;
  width: 100%;
  font-style: normal;

  a {
    color: #000;
  }

  @media only screen and (min-width: 64em) {
    max-width: 85%;
  }
}

.post_list-post_date {
  color: #aaa;
  font-size: .65rem;

  @media only screen and (min-width: 64em) {
    order: 2;
    width: auto;
  }
}

.post_list-post_backdrop {
  margin: .15rem 0 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: .8s opacity;

  &:before {
    padding-top: 56.249999993%;
    height: 0;
    content: '';
    display: block;
  }

  &.loaded {
    opacity: 1;
  }

  @media only screen and (min-width: 37.44em) {
    margin: .15rem .9rem 1rem;
  }
}

.post_list-post_content_wrap {
  margin: 0 -.9rem;
}

.post_list-post_grade_wrap {
  width: 100%;
  font-size: .6rem;
  color: #aaa;
}

.post_list-post_grade {
  height: .85rem;
  margin-right: .4rem;
  margin-bottom: -2px;

  @media only screen and (min-width: 64em) {
    order: 3;
  }
}

.post_list-post_content {
  font-family: $serif;
  font-size: .9rem;
  padding-left: .9rem;
  padding-right: .9rem;
  line-height: 1.7;

  @media only screen and (min-width: 37.44em) {
    width: 83.33%;
  }
}

.sidebar-container {
  border-bottom: 1px solid #e5e5e5;
  padding: 1.55rem .9rem 0;

  @media only screen and (min-width: 37.5em) {
    width: 46%;
  }

  @media only screen and (min-width: 64em) {
    max-width: 18rem;
    width: 100%;
  }
}

.sidebar-heading {
  margin: .25rem 0 .8rem;
  font-size: 1.2rem;
  color: rgba(0,0,0,0.5);
  font-weight: normal;

  strong {
    color: #000;
  }
}

.sidebar-stats {
  font-size: .8rem;
  line-height: 1.2;

  dt, dd {
    display: inline-block;
  }

}

.sidebar-content {
  font-family: $serif;
  font-size: .9rem;
  line-height: 1.7;
}


.card_list-item {
  margin: 0;
  min-width: 70vw;
  padding-right: 1.2rem;

  // &:after {
  //   width: 1px;
  //   top: 0;
  //   bottom: 2.4rem;
  //   right: .65rem;
  //   content: '';
  //   background-color: #ddd;
  //   position: absolute;
  // }

  // @media(min-width: $tablet-breakpoint) {
  //   width: 49%;
  //   margin-top: 1.2rem;

  //   .card-content_wrap {
  //     padding-left: 0;
  //     padding-right: 0;
  //   }

  //   &:first-child {
  //     margin: 0 -1.2rem;
  //     // flex-direction: row;
  //     width: calc(100% + 2.4rem);

  //     .card-title {
  //       @media(min-width: $desktop-breakpoint) {
  //         font-size: 2rem;
  //         line-height: normal;
  //         margin-bottom: .2rem;
  //       }
  //     }

  //     .card-content_wrap {
  //       padding: .8rem 1.2rem;
  //     }

  //     .card-header_grade {
  //       @media(min-width: $desktop-breakpoint) {
  //         width: 6rem;
  //       }
  //     }

  //     .card-media_wrap {
  //       // width: 66.6666%;
  //     }

  //     .card-content_wrap {
  //       // width: 33.333%;
  //       // padding: 0 .4rem;
  //       // display: block;
  //     }
  //   }

  //   &:nth-child(2),
  //   &:nth-child(3) {
  //     width: 49%;

  //     .card-header_grade {
  //       width: 5rem;
  //     }
  //   }

  //   @media(min-width: $desktop-breakpoint) {
  //     margin-top: 1.8rem;
  //     width: 32%;

  //     .card-header_grade {
  //       width: 4.5rem;
  //     }
  //   }
  // }

  // @media(min-width: $tablet-breakpoint) {
  //   margin: .8rem 1.2rem 0;

  //   // margin-right: .2rem;
  //   // margin-left: .2rem;
  //   // margin-top: .4rem;
  //   // width: calc(50% - .4rem);

  //   // &:nth-child(odd) {
  //   //   margin-left: .2rem;
  //   //   margin-right: .2rem;
  //   // }

  //   // &:first-child {
  //     width: 100%;
  //     // flex-direction: row;

  //     .card-content_wrap {
  //       // width: 33.33%;
  //       // order: 1;
  //     }

  //     .card-media {
  //       // width: 66.67%;
  //       // order: 2;
  //     }

  //     .card-title {
  //       width: auto;
  //     }
  //   // }

  //   // &:last-child {
  //   //   margin-left: 0;
  //   //   margin-right: 0;
  //   //   flex-grow: 1;
  //   // }

  //   // &:first-child:nth-last-child(2) {
  //   //   margin-left: 0;
  //   //   margin-right: .2rem;
  //   //   width: calc(33% - .2rem);
  //   // }

  //   // &:last-child:nth-child(2) {
  //   //   margin-left: .2rem;
  //   //   margin-right: 0;
  //   //   flex-grow: 0;
  //   // }
  // }

  // @media(min-width: $desktop-breakpoint) {
  //   // margin-top: .8rem;
  //   width: calc(33.333% - .6rem);
  //   // box-shadow: none;
  //   margin: 1rem .6rem;
  //   // padding: 0 0 1.2rem;
  //   .card-content_wrap {
  //     display: flex;
  //     flex-direction: column;
  //     flex-grow: 1;
  //   }

  //   .card-actions {
  //     // display: none;
  //   }

  //   .card-media {
  //     // border: 1px solid rgba(0,0,0,.15);
  //   }

  //   .card-content_wrap {
  //     // padding: 0;
  //   }

  //   .card-header_grade {
  //     // margin-left: 0;
  //   }

  //   .card-title {
  //     // padding: .8rem 0 0;
  //   }

  //   .card-content {
  //     font-size: .8rem;
  //     // padding: .8rem 0;
  //   }

  //   // &:nth-child(odd) {
  //   //   margin-left: .6rem;
  //   //   margin-right: 0;
  //   // }

  //   &:first-child {
  //     flex-direction: row;
  //     width: 100%;
  //     padding-bottom: 0;

  //     .card-content_wrap {
  //       width: 33.33%;
  //       padding: .8rem .4rem;
  //       display: block;
  //     }

  //     .card-media_wrap {
  //       width: 66.67%;
  //     }

  //     .card-title {
  //       line-height: normal;
  //       font-size: 1.8rem;
  //       padding-top: 0;
  //       width: auto;
  //     }

  //     .card-actions {
  //       display: block;
  //       // padding-left: 0;
  //     }
  //   }

  //   &:nth-child(2),
  //   &:nth-child(3) {
  //     width: calc(50% - .6rem);
  //   }

  //   &:nth-child(2) {
  //     margin-left: 0;
  //     margin-right: .6rem;
  //   }

  //   &:nth-child(3) {
  //     margin-left: .6rem;
  //     margin-right: 0;
  //   }

  //   &:nth-child(4),
  //   &:nth-child(7) {
  //     margin-left: 0;
  //     margin-right: .6rem;
  //   }

  //   &:nth-child(5),
  //   &:nth-child(8) {
  //     margin-left: 0;
  //     margin-right: 0;
  //   }

  //   &:nth-child(6),
  //   &:nth-child(9) {
  //     margin-right: 0;
  //     margin-left: .6rem;
  //   }


  //   &:first-child:nth-last-child(2) {
  //     // margin-right: .4rem;
  //     // width: calc(50% - .4rem);
  //   }

  //   &:last-child:nth-child(2) {
  //     // margin-left: .4rem;
  //   }
  // }

  // @media(min-width: $max-breakpoint) {
  //   width: calc(33.3333% - .4rem);
  //   // display: block;
  //   margin-top: .8rem;
  //   margin-left: 0;
  //   margin-right: .0;
  //   // float: left;

  //   &:nth-child(5),
  //   &:nth-child(8), {
  //     margin-left: .2rem;
  //     margin-right: .2rem;
  //   }

  //   &:first-child {
  //     width: 100%;
  //     margin-bottom: 1.2rem;

  //     .card-title {
  //       font-size: 2.4rem;
  //       line-height: normal;
  //     }

  //     .card-header_grade {
  //       width: 6rem;
  //     }

  //     // .card-content_wrap {
  //     //   width: 66.67%;
  //     //   position: absolute;
  //     //   bottom: 0;
  //     //   left: 0;
  //     // }

  //     // .card-content {
  //     //   color: #fff;
  //     //   font-weight: 400;
  //     // }

  //     // .card-media_wrap {
  //     //   width: 100%;
  //     //   background-color: #000;
  //     // }

  //     // .card-media {
  //     //   // opacity: .6;
  //     // }

  //     // .card-title {
  //     //   width: auto;

  //     //   a {
  //     //     color: #fff;
  //     //   }
  //     // }

  //     // .card-actions {
  //     //   display: none;
  //     // }
  //   }


  //   &:nth-child(2) {
  //     width: calc(50% - .4rem);
  //     margin-left: 0;
  //     margin-right: .4rem;
  //   }

  //   &:nth-child(3) {
  //     // display: block;
  //     width: calc(50% - .4rem);
  //     margin-left: .4rem;
  //     margin-right: 0;
  //     // // margin-top: 0;
  //     // flex-direction: column;

  //     // .card-media_wrap {
  //     //   width: 100%;
  //     // }

  //     // .card-content_wrap {
  //     //   width: 100%;
  //     // }
  //   }

  //   &:nth-child(4),
  //   &:nth-child(7) {
  //     margin-right: .4rem;
  //     margin-left: 0;
  //   }

  //   &:nth-child(6),
  //   &:nth-child(9) {
  //     margin-left: .4rem;
  //     margin-right: 0;
  //   }

  //   // &:nth-child(3) {
  //   //   margin-top: .05rem;
  //   //   width: calc(33.3333% - .05rem);
  //   //   height: calc(25% - 1rem);
  //   // }

  //   // &:nth-child(4) {
  //   //   clear: left;
  //   // }

  //   // &:nth-child(4),
  //   // &:nth-child(5) {
  //   //   margin-left: 0;
  //   //   margin-right: .05rem;
  //   //   margin-top: .05rem;
  //   // }

  //   // &:nth-child(6),
  //   // &:nth-child(7),
  //   // &:nth-child(8),
  //   // &:nth-child(9) {
  //   //   margin-left: 0;
  //   //   margin-right: .05rem;
  //   //   margin-top: .05rem;
  //   // }

  //   &:first-child:nth-last-child(2) {
  //     // margin-right: .4rem;
  //     // width: calc(50% - .4rem);
  //   }

  //   &:last-child:nth-child(2) {
  //     // margin-left: .4rem;
  //   }
  // }
}