.cast_and_crew_page_wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1008px;
  flex-direction: column;
  width: 100%;

  @media only screen and (min-width: 64em) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cast_and_crew_about {
  @media only screen and (min-width: 37.5em) {
    width: 33.33%;
  }
}

.cast_and_crew-about_panel {
  background-color: #fafafa;
  border: 1px solid rgba(223,223,233,0.5);
  border-radius: 5px;
  max-width: 260px;
  padding-top: 1.25rem;
  margin: 0 auto;
}

.cast_and_crew_main {
  padding: 0 .9rem;

  @media only screen and (min-width: 37.5em) {
    width: 66.66%;
  }
}

.cast_and_crew_post_list-post {
  list-style-type: none;
  margin-bottom: 1.5rem;

  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #e5e5e5;
    margin-top: 1.5rem;
    margin-right: 0;
  }

  &:last-child:after {
    display: none;
  }

  @media only screen and (min-width: 37.44em) {
    .post_list-post_content_wrap {
      display: flex;
    }
    .post_list-post_backdrop-wrap {
      width: 33.33%;
    }
    .post_list-post_content {
      width: 66.67%;
      padding-left: 0;
    }
    .post_list-post_title {
      font-size: 1.1rem;
    }
  }
}
