%horizontal-rule {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .15);
  box-sizing: content-box;
  content: '';
  display: block;
  height: 0;
  width: 5rem;
}

.feature {
  @extend %post;

  .post-content {
    padding-top: 1.3rem;

    &:before {
      @extend %horizontal-rule;
      margin: 0 auto 2.55rem;
    }

    @media (min-width: $breakpoint) {
      padding-top: 1.4rem;
    }
  }

  h2 {
    &:before {
      @extend %horizontal-rule;
      margin: 0 auto 2.75rem;
    }
  }

  h3 {
    color: rgba(0, 0, 0, .4);
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: -.02em;
    line-height: 1.4rem;
    margin-bottom: 0;
    margin-left: -1.6px;
    margin-top: 1.4rem;
  }

  @media (min-width: $breakpoint) {
    h3 {
      font-size: 1.3rem;
      margin-bottom: .15rem; 
    }
  }
}

.feature-slug {
  border-top: 1px solid rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .4);
  font-size: .75rem;
  padding: 1.25rem 0 1.3rem;

  .title {
    font-weight: bold;
  }

  @media (min-width: $breakpoint) {
    padding: 1.35rem 0 1.4rem;
  }
}
