$filter-background-color: #fff;
$filter-border-color: #ddd;
$filter-slider-active-handle-background-color: #e9e9e9;
$filter-slider-background-color: #f5f5f5;
$filter-text-box-color: #555;

%text-box {
  -moz-appearance: none;
  -webkit-appearance: none;
  backface-visibility: hidden;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: $filter-text-box-color;
  display: block;
  font-size: .7rem;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0;
  vertical-align: middle;
  width: 100%;
}

%numeric {
  -moz-appearance: textfield;
  border: 0;
  box-sizing: content-box;
  color: rgba(0, 0, 0, .4);
  font-size: .7rem;
  line-height: 1.2rem;
  padding: 0;
  width: 60px;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &.min {
    margin-right: auto;
  }

  &.max {
    align-self: flex-start;
    text-align: right;
  }
}

.filter-text_box {
  @extend %text-box;
}

.filter-text_box::placeholder {
  font-size: .7rem;
  text-transform: uppercase;
}

.filter-text_box_wrap {
  border-bottom: solid 1px $filter-border-color;
  margin-bottom: .4rem;
  padding-bottom: .35rem;
}

.filter-numeric {
  @extend %numeric;
  width: 2rem;

  @media (min-width: $tablet-breakpoint) {
    height: 1.3rem;
    width: 2rem;
  }
}

.filter-control {
  margin-bottom: 1.2rem;
}

.filter-label {
  color: rgba(0, 0, 0, .3);
  display: block;
  font-size: .6rem;
  line-height: 1.6rem;
}

.filter-select {
  @extend %text-box;
  background-color: $filter-background-color;
  color: rgba(0, 0, 0, .7);
  font-size: .7rem;
  text-indent: .01px;
  text-overflow: '';
}

.filter-range {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.noUi-target * {
  background-color: $filter-slider-background-color;
  box-sizing: border-box;
  cursor: default;
  touch-action: none;
  -webkit-touch-callout: none;
  transition: transform .3s ease-in-out;
  user-select: none;
}

.noUi-state-drag .noUi-active {
  transform: scale(1.25);
}

.noUi-base {
  background: $filter-slider-background-color;
  border-bottom: solid .5rem $filter-background-color;
  border-top: solid .5rem $filter-background-color;
  height: 2rem;
  margin: auto .8rem;
  position: relative;
}

.noUi-handle {
  background-color: $filter-background-color;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  height: 2rem;
  left: -1rem;
  position: relative;
  top: -.5rem;
  width: 2rem;
  z-index: 1;
}

.noUi-active {
  background-color: $filter-slider-active-handle-background-color;
  box-shadow: inset 0 0 5px $filter-border-color;
}

.noUiSlider {
  flex: 1 100%;
}

.noUi-origin {
  border-radius: inherit;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;

  + .noUi-origin {
    background: inherit !important;
  }
}

.noUi-stacking .noUi-handle {
  z-index: 10;
}
