%text-box {
  -moz-appearance: none;
  -webkit-appearance: none;
  backface-visibility: hidden;
  background-color: #f5f5f5;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: #555;
  display: inline-block;
  font-family: $sans;
  font-size: .8rem;
  height: 1.95rem;
  line-height: 1.4;
  padding: .375rem .3125rem;
  vertical-align: middle;
  width: 100%;

  @media (min-width: $breakpoint) {
    height: 2.1rem;
  }
}

%numeric {
  -moz-appearance: textfield;
  border: 0;
  box-sizing: content-box;
  color: rgba(0, 0, 0, .4);
  font-family: $sans;
  font-size: .75rem;
  width: 60px;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &.min {
    margin-right: auto;
  }

  &.max {
    align-self: flex-start;
    text-align: right;
  }
}

.filter-text-box {
  @extend %text-box;
}

.filter-numeric {
  @extend %numeric;
  width: 1.95rem;

  @media (min-width: $breakpoint) {
    height: 1.3rem;
    width: 2rem;
  }
}

.filter-control {
  margin-bottom: 1.4rem;
}

.filter-label {
  color: rgba(0, 0, 0, .3);
  display: block;
  font-size: .8rem;
  line-height: 1.3rem;

  @media (min-width: $breakpoint) {
    line-height: 1.4rem;
  }
}

.filter-select {
  @extend %text-box;
  color: rgba(0, 0, 0, .7);
  font-family: $sans;
  font-size: .7rem;
  text-indent: .01px;
  text-overflow: '';
}

.filter-range {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: -.65rem;

  @media (min-width: $breakpoint) {
    margin-bottom: -.7rem;
  }
}

.noUi-target * {
  background: #f5f5f5;
  box-sizing: border-box;
  cursor: default;
  touch-action: none;
  -webkit-touch-callout: none;
  user-select: none;
}

.noUi-base {
  height: 1.95rem;
  margin: auto 1rem;
  position: relative;

  @media (min-width: $breakpoint) {
    height: 2.1rem;
  }
}

.noUi-handle {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 3px;
  height: 1.95rem;
  left: -1.0625rem;
  position: relative;
  width: 1.95rem;
  z-index: 1;

  @media (min-width: $breakpoint) {
    height: 2.1rem;
    width: 2.1rem;
  }
}

.noUi-active {
  background: #e9e9e9;
  box-shadow: inset 0 0 5px #ddd;
}

.noUi-background {
  background: #f5f5f5;
}

.noUiSlider {
  flex: 1 100%;
}

.noUi-origin {
  border-radius: inherit;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;

  + .noUi-origin {
    background: inherit !important;
  }
}

.noUi-stacking .noUi-handle {
  z-index: 10;
}
