.footer {
  // display: none;
  border-top: 1px solid rgba(0,0,0,.15);
  padding: .4rem 0 0;
  margin: 1.2rem .8rem .8rem;

  @media(min-width: $tablet-breakpoint) {
    margin: 1.2rem;
  }

  .footer-padding & {
    padding-bottom: 2.2rem;
  }
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  font-size: .55rem;
  justify-content: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-link {
  color: rgba(0, 0, 0, .54);

  a {
    padding: 0 .4rem;
  }

  &:first-child {
    flex-grow: 1;
  }
}

