.js .js-collapse {
  display: block;
  overflow: hidden;
  transition-duration: .3s;
  transition-property: height, visibility;
  transition-timing-function: ease-in-out;
}

.js .js-collapsed {
  height: 0;
  visibility: hidden;
}
