.js .js-toggle {
  display: block;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transition-duration: .3s;
  transition-property: width, visibility;
  transition-timing-function: ease-in-out;
}

.js .js-toggle-off {
  visibility: hidden;


  // width: 0;
}
