$latest-updates-item-background-color: #fff;
$latest-updates-pagination-background-color: #f5f5f5;
$latest-updates-tablet-breakpoint: 48em;
$latest-updates-desktop-breakpoint: 65.2em;
$latest-updates-avatar-background-color: #ddd;
$latest-updates-card-separator-color: #eee;

.latest_updates {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  > .card {
    margin-top: .8rem;
  }

  @media(min-width: $tablet-breakpoint) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 .4rem;

    > .card {
      margin-right: .2rem;
      width: calc(50% - .2rem);

      &:nth-child(odd) {
        margin-left: .2rem;
        margin-right: 0;
      }


      &:first-child {
        margin-left: 0;
        margin-right: 0;
        width: 100%;

        .card_header {
          @include card-header-with-date;
        }
      }

      &:last-child {
        flex-grow: 1;
      }
    }
  }

  @media(min-width: $desktop-breakpoint) {
    margin: 0;

    > .card {
      margin-right: .4rem;
      width: calc(50% - .4rem);

      &:nth-child(odd) {
        margin-left: .4rem;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.latest_updates-item_anchor {
  display: block;

  &:before {
    content: '';
    display: block;
    margin-top: -2.4rem;
    padding-top: 2.4rem;
    visibility: hidden;
  }
}

.latest_updates_pagination {
  background-color: $latest-updates-pagination-background-color;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  font-family: $sans;
  font-size: .8rem;
  margin: .8rem 0 1.2rem;
  text-align: center;

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  @media(min-width: $latest-updates-tablet-breakpoint) and (max-width: $latest-updates-desktop-breakpoint) {
    margin-left: .4rem;
    margin-right: .4rem;
  }
}

// Pagination items can be `span`s or `a`s
.latest_updates_pagination-item {
  color: $highlight;
  display: block;
  line-height: 2.8rem;
  padding: 0 .8rem;
  position: relative;
  text-transform: uppercase;
  width: 50%;

  &.newer {
    float: left;
    padding-left: 2.2rem;
    text-align: left;

    &:after {
      background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" width="2048" height="2048"><path d="M733 1024q0-13 10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23t-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23z" fill-opacity=".8"/></svg>');
      left: .8rem;
    }
  }

  &.older {
    float: right;
    padding-right: 2.2rem;
    text-align: right;

    &:after {
      background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" width="2048" height="2048"><path d="M1315 1024q0-13-10-23L839 535q-10-10-23-10t-23 10l-50 50q-10 10-10 23t10 23l393 393-393 393q-10 10-10 23t10 23l50 50q10 10 23 10t23-10l466-466q10-10 10-23z" fill-opacity=".7"/></svg>');
      right: .8rem;
    }
  }

  &.newer:after, 
  &.older:after {
    background-size: contain;
    content: '';
    height: 1rem;
    position: absolute;
    top: .85rem;
    width: 1rem;
  }
}
