@media (min-width: $breakpoint) {
  .latest-updates-column-wrap {
    display: flex;
  }

  .latest-updates-column-left {
    flex: 1;
  }

  .latest-updates-column-right {
      width: 15rem;
      border-left: 1px solid rgba(0, 0, 0, 0.07);
  }

  .latest-updates-list {
    max-width: 35rem;
    margin: 0 auto;
  }
}

.latest-updates-list {
  @extend %list;
  // max-width: 31rem;
}

.latest-updates-list-item {
  @extend %list-item;

  padding-bottom: 1rem;
  padding-top: 2.5rem;

  @media (min-width: $max-content-width) {
    padding-top: 3rem;
    margin-left: 2rem;
    padding-left: 0;
    margin-right: 2rem;

    &:first-child {
      margin-top: 2rem;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.latest-updates-list-item-date {
  color: rgba(0, 0, 0, .3);
  font-feature-settings: 'lnum';
  font-size: .7rem;
  font-weight: 400;
  letter-spacing: -.01rem;
  margin-bottom: 1rem;

  @media (min-width: $max-content-width) {
    font-size: .75rem;
  }
}

.latest-updates-list-item-header {
  @extend %list-item-header;
}

.latest-updates-list-item-title {
  @extend %list-item-title;

  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.1;

  &:before {
    font-size: .8rem;
    font-weight: 300;
  }

  @media (min-width: $max-content-width) {
    &:before {
      font-feature-settings: 'onum';
      font-size: 1rem;
      font-weight: normal;
      left: -2.5rem;
    }
  }

  @media (min-width: $breakpoint) {
    &:before {
      font-size: 1.1rem;
    }
  }
}

.latest-updates-list-item-rating {
  @extend %list-item-rating;

  height: .9rem;
  width: 4.5rem;
}

.latest-updates-list-item-slug {
  @extend %list-item-slug;

  font-size: .8rem;
  letter-spacing: -.01rem;
  line-height: 1.2;
  padding-top: .5rem;

  @media (min-width: $max-content-width) {
    font-size: .85rem;
    padding-top: .3rem;
  }
}

.latest-updates-list-item-pull-quote {
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.45;
  padding-top: .3rem;
}

.full {
  display: none;
}

.abbreviation:after {
  content: ':';
}

@media (min-width: $max-content-width) {
  .abbreviation:after {
    content: '';
  }

  .full {
    display: inline;
  }
}

.pagination {
  background-color: #fcfcfc;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  border-left: 1px solid rgba(0, 0, 0, 0.07);
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  color: #ccc;
  margin: 0 auto;
  max-width: 35rem;
  text-align: center;

  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  background-image: none;
  color: $highlight;
  display: block;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
  position: relative;
  width: 50%;

  &.newer {
    float: left;
    padding-left: 2rem;
    text-align: left;

    &:after {
      background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" width="2048" height="2048"><path d="M733 1024q0-13 10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23t-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23z" fill-opacity=".8"/></svg>');
      background-size: contain;
      content: '';
      height: 1rem;
      left: 1rem;
      position: absolute;
      top: 1.2rem;
      width: 1rem;
    }
  }

  &.older {
    float: right;
    padding-right: 2rem;
    text-align: right;

    &:after {
      background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" width="2048" height="2048"><path d="M1315 1024q0-13-10-23L839 535q-10-10-23-10t-23 10l-50 50q-10 10-10 23t10 23l393 393-393 393q-10 10-10 23t10 23l50 50q10 10 23 10t23-10l466-466q10-10 10-23z" fill-opacity=".7"/></svg>');
      background-size: contain;
      content: '';
      height: 1rem;
      position: absolute;
      right: 1rem;
      top: 1.2rem;
      width: 1rem;
    }
  }

  &:hover {
    background-color: #f5f5f5;
    background-image: none;
  }
}

.latest-updates-most-watched-list-header {
  margin: 0;
  // background-color: #fcfcfc;
  font-size: .7rem;
  line-height: .8;
  padding: 1rem;
  text-transform: none;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, .3);
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1em;
  margin-bottom: .5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.latest-updates-most-watched-list-header-caption {
  float: left;
  margin: 0;
}

.latest-updates-most-watched-list-header-more {
  float: right;
}

.latest-updates-most-watched-list {
  margin: 0;
  // background-color: #fcfcfc;
  padding-left: 1rem;
  position: relative;
}

.latest-updates-most-watched-list-item {
  list-style-type: none;
  padding-bottom: 1rem;
  padding-left: 3rem;

  &:before {
    color: rgba(0, 0, 0, .5);
    content: attr(data-number);
    background-color: #fcfcfc;
    font-feature-settings: 'lnum';
    font-weight: normal;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 999em;
    display: block;
    position: absolute;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
  }
}

.latest-updates-most-watched-list-item-name {
  display: block;
  font-size: .9rem;
  line-height: 1.25rem;
}

.latest-updates-most-watched-list-item-slug {
  letter-spacing: -.01rem;
  line-height: .75rem;
  font-size: .8rem; 
  color: rgba(0, 0, 0, .4);
  padding-left: 1px;
}
