* {
  box-sizing: border-box;
}

html,
body {
  counter-reset: filter-results;
  margin: 0;
  overflow-x: hidden;  // Prevent scroll on narrow devices
  padding: 0;
}

html {
  font-family: $serif;
  font-size: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #fff;
  color: rgba(0, 0, 0, .8);
  letter-spacing: -.018rem;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $highlight;
  position: relative;
  text-decoration: none;

  @media (min-width: $nav-breakpoint) {
    transition: color .3s ease-in-out;

    &:before {
      background-color: #579;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      padding: 0;
      position: absolute;
      transform: scaleX(0);
      transition: all 300ms ease-in-out;
      visibility: hidden;
      width: 100%;
    }
  }
}

// `:focus` is linked to `:hover` for basic accessibility
a:hover,
a:focus {
  @media (min-width: $nav-breakpoint) {
    color: $highlight !important;

    &:before {
      transform: scaleX(1);
      visibility: visible;
    }
  }
}

input::placeholder {
  color: rgba(0, 0, 0, .3);
  font-size: .65rem;
  text-transform: uppercase;
  transform: translate(0, 0);
  transition: opacity .3s linear;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transform: translate(0, 0);
}

p {
  letter-spacing: .01rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 31.8182rem;

  @media (min-width: $breakpoint) {
    max-width: 50rem;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $nav-breakpoint) {
    padding-top: 3rem;
  }
}

.masthead {
  background-color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  letter-spacing: -.04rem;
  margin-bottom: 0;

  @media (min-width: $nav-breakpoint) {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 500;
  }
}

.masthead-title {
  color: rgba(0, 0, 0, .8);
  font-size: .7rem;
  font-weight: 600;
  height: 3rem;
  letter-spacing: 1px;
  line-height: 3rem;
  margin: 0;
  padding: 0 1rem;
  text-transform: uppercase;
}

.masthead-title-link {
  background-image: none;
  color: rgba(0, 0, 0, .8);
  display: inline-block;
  z-index: 700;
}

.masthead-nav {
  @media (min-width: $nav-breakpoint) {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.nav-menu-toggle {
  background-color: #fff;
  border: 1px solid $highlight;
  border-radius: 8px;
  color: $highlight;
  letter-spacing: 1px;
  padding: 13px;
  position: absolute;
  right: 1rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  top: 9px;

  @media (min-width: $nav-breakpoint) {
    display: none;
  }
}

.nav-menu {
  font-size: .7rem;
  font-weight: 500;
  height: 8rem;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@media (min-width: $nav-breakpoint) {
  .nav-menu,
  .nav-menu.js-collapse {
    display: flex;
    height: 3rem;
    margin: 0 auto;
    max-width: 700px;
    visibility: visible;
    width: 80%;
  }
}

.nav-menu-item {
  border-bottom: 1px solid rgba(0, 0, 0, .06);
  display: block;
  height: 2rem;

  @media (min-width: $nav-breakpoint) {
    border-bottom: 0;
    padding: 0 1rem;

    &:nth-child(2) {
      padding-left: 0;
    }
  }
}

.nav-menu-link {
  background-image: none;
  display: block;
  line-height: 2rem;
  padding: 0 1rem;

  &.active {
    color: rgba(0, 0, 0, .8);

    @media (min-width: $nav-breakpoint) {
      border-bottom: 1px solid #444;

      &:before {
        transform: none;
        visibility: hidden;
      }

      &:hover {
        color: rgba(0, 0, 0, .8) !important;     
      }
    }
  }

  @media (min-width: $nav-breakpoint) {
    height: 3rem;
    line-height: 3rem;
    padding: 0;
  }
}

.site-search-wrap {
  position: relative;

  &:before {
    background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="-192 -384 2048 2048"><path d="M1152 448q0-185-131.5-316.5T704 0Q519 0 387.5 131.5T256 448q0 185 131.5 316.5T704 896q185 0 316.5-131.5T1152 448zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150q-94.5-94.5-150-225T0 448q0-143 55.5-273.5t150-225q94.5-94.5 225-150T704-256q143 0 273.5 55.5t225 150q94.5 94.5 150 225T1408 448q0 220-124 399l343 343q37 37 37 90z" fill-opacity=".3"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 1rem;
    left: 1rem;
    position: absolute;
    top: .6rem;
    width: .7rem;

    @media (min-width: $nav-breakpoint) {
      top: 1.25rem;
    }
  }
}

.site-search-input {
  background-color: rgba(255, 255, 255, .8);
  border: 0;
  font-family: $serif;
  font-size: .8rem;
  margin: .25rem 0;
  padding: .3rem .5rem .3rem 2rem;
  width: 100%;

  @media (min-width: $nav-breakpoint) {
    border: solid 1px rgba(0, 0, 0, .2);
    border-radius: 25px;
    font-size: .6rem;
    margin: 0;
    padding: .5 .5rem 2rem;
    width: 11rem;

    &:hover {
      border-color: #579;
    }
  }
}

.nav-menu-item-search {
  @media (min-width: $nav-breakpoint) {
    height: 3rem;
    line-height: 3rem;
    order: 4;
    position: absolute;
    right: 0;
  }
}

.page-title {
  color: #303030;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: 1.1;
  margin: 0;
  padding-top: 2.5rem;
  text-align: center;

  @media (min-width: $breakpoint) {
    font-size: 2.25rem;
    letter-spacing: -.04em;
  }
}

.site-footer {
  color: rgba(0, 0, 0, .3);
  font-size: .75rem;
  padding: 1rem;
  text-align: center;

  @media (min-width: $breakpoint) {
    font-size: .8rem;
  }
}

.site-footer-twitter {
  padding-left: 1rem;

  &:after {
    background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="-192 -384 2048 2048"><path d="M1620 152q-67 98-162 167 1 14 1 42 0 130-38 259.5T1305.5 869Q1228 988 1121 1079.5t-258 146Q712 1280 540 1280q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5T221 777q33 5 61 5 43 0 85-11-112-23-185.5-111.5T108 454v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5T820 397q-8-38-8-74 0-134 94.5-228.5T1135 0q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z" fill="#0054ab"/></svg>');
    content: '';
    content: '';
    height: .8rem;
    left: 0;
    position: absolute;
    top: .1rem;
    width: .8rem;
  }
}

.site-footer-feed {
  margin-left: .7rem;
  padding-left: .9rem;

  &:after {
    background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="-320 -384 2048 2048"><path d="M384 1216q0 80-56 136t-136 56q-80 0-136-56T0 1216q0-80 56-136t136-56q80 0 136 56t56 136zm512 123q2 28-17 48-18 21-47 21H697q-25 0-43-16.5t-20-41.5q-22-229-184.5-391.5T58 774q-25-2-41.5-20T0 711V576q0-29 21-47 17-17 43-17h5q160 13 306 80.5T634 774q114 113 181.5 259t80.5 306zm512 2q2 27-18 47-18 20-46 20h-143q-26 0-44.5-17.5T1137 1348q-12-215-101-408.5t-231.5-336Q662 461 468.5 372T60 270q-25-1-42.5-19.5T0 207V64q0-28 20-46Q38 0 64 0h3q262 13 501.5 120T994 414q187 186 294 425.5t120 501.5z" fill="#f4a546"/></svg>');
    content: '';
    content: '';
    height: .8rem;
    left: 0;
    position: absolute;
    top: .1rem;
    width: .8rem;
  }
}
