%list {
  margin: 0 auto;
  padding: 0;
}

%list-item {
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  line-height: .8;
  list-style-type: none;
  padding-left: 1rem;
  padding-right: 1.25rem;
  position: relative;

  @media (min-width: $breakpoint) {
    padding-left: 0;
    padding-right: 0;

    &:last-child {
      border-bottom: 0;
    }
  }
}

%list-item-header {
  position: relative;
  white-space: nowrap;
}

%list-item-title {
  color: rgba(0, 0, 0, .8);
  display: inline;
  letter-spacing: -.02em;
  line-height: 1.2;
  margin: 0;
  white-space: normal;

  &:before {
    content: attr(data-number) '. ';
    color: rgba(0, 0, 0, .5);
    font-feature-settings: 'lnum';
    font-weight: normal;
  }

  @media (min-width: $breakpoint) {
    &:before {
      color: rgba(0, 0, 0, .3);
      position: absolute;
      text-align: right;
      width: 2rem;
    }
  }
}

%list-item-rating {
  height: .75rem;
  left: 0;
  position: absolute;
  width: 3.5rem;

  // @media (min-width: $max-content-width) {
    display: inline-block;
    position: relative;
    top: .2rem;
  // }
}

%list-item-slug {
  color: rgba(0, 0, 0, .4);
  display: block;
  font-weight: 400;
  padding-left: 1px;
  padding-top: 3px;


  &.with-rating:before {
    content: '';
    display: inline-block;
    width: 3.6rem;

    // @media (min-width: $max-content-width) {
      display: none;
    // }
  }
}
