$mast-background-color: #111110;
$mast-background-color: #fff;
$mast-breakpoint: 32em;
$mast-foreground-color: #fff;
$mast-foreground-color: #000;
$mast-search-background-color: #f1f1f1;
$mast-search-breakpoint: 63.625em;

.mast-wrap {
  height: 3rem;
}

.mast {
  height: 3rem;
  background: rgba(255,255,255,0.99);
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  z-index: 98;
  line-height: 3rem;
  display: flex;
  justify-content: flex-end;
}

.mast-title {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  line-height: 3.1rem;
  margin: 0;
  position: absolute;
  left: .9rem;
}

.mast-title_link {
  color: #000;
}

.mast-search_button {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  -webkit-border-fit: border;
  display: block;
  margin: 0;
  z-index: 1000;
  text-indent: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  background-color: #fff;
  width: 3rem;
  height: 100%;

  &:before {
    background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="#000" d="M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z"/></svg>');
    background-size: contain;
    width: 1rem;
    height: 1rem;
    content: '';
    position: absolute;
    top: 1rem;
    right: .9rem;
    bottom: 1rem;
  }
}

.mast-search_form {
  height: 100%;
  width: calc(100% - 2.95rem);
  z-index: 500;

  &.js-toggle_off {
    width: 0;
  }
}

.mast-search_input {
  -webkit-appearance: none;
  background-color: $mast-search-background-color;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  font-family: $font-system;
  font-size: .65rem;
  height: 100%;
  padding: .2rem .4rem .2rem 2rem;
  transition-duration: .4s;
  transition-property: border-color;
  width: 100%;

  &::placeholder {
    font-family: $font-system;
    font-size: .65rem;
    line-height: auto;
  }

  &:hover {
    border-color: rgba(85, 119, 153, .85);
  }
}
