$mast-background-color: #111110;
$mast-foreground-color: #fff;
$mast-highlight-color: #579;
$mast-search-background-color: #f1f1f1;
$mast-search-breakpoint: 46em;

.mast {
  @include base-container;
  background-color: $mast-background-color;
  color: $mast-foreground-color;
  font-family: $sans;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;

  @media (min-width: $tablet-breakpoint) {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
  }
}

.mast__title {
  flex-grow: 4;
  font-size: .7rem;
  font-weight: normal;
  line-height: 2.4rem;
  margin: 0;
  order: 1;
  padding: 0 .8rem;
}

.mast__title-link {
  color: $mast-foreground-color;
  display: inline-block;
}

.mast__search-form {
  height: 2.3rem;
  position: absolute;
  right: 0;
  top: .05rem;
  width: 100%;
  z-index: 500;

  &.js-toggle_off {
    width: 0;
  }

  @media (min-width: $mast-search-breakpoint) {
    width: 50%;
  }
}

.mast__search-toggle {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  -webkit-border-fit: border;
  color: $mast-foreground-color;
  display: block;
  font-family: $sans;
  font-size: .6rem;
  -webkit-font-smoothing: inherit;
  font-weight: normal;
  height: 2.4rem;
  letter-spacing: 1px;
  line-height: 2.3rem;
  margin: 0;
  padding: 0 .8rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  transition: background-color .3s ease-in-out;
  width: 4rem;
  z-index: 1000;
}

.mast__search-wrap {
  border-right: solid 4rem $mast-background-color;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 0;

  &:before {
    background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="#aaa" d="M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 1.5rem;
    left: .4rem;
    position: absolute;
    top: .5rem;
    width: 1.5rem;
  }
}

.mast__search-input {
  -webkit-appearance: none;
  background-color: $mast-search-background-color;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  font-family: $serif;
  font-size: .65rem;
  height: 2.3rem;
  padding: .2rem .4rem .2rem 2rem;
  transition-duration: .4s;
  transition-property: border-color;
  width: 100%;

  &::placeholder {
    font-family: $sans;
    font-size: .65rem;
    line-height: auto;
    text-transform: uppercase;
  }
   
  &:hover {
    border-color: rgba(85, 119, 153, .85);
  }
}
