$mast-background-color: #111110;
$mast-background-color: #fff;
$mast-breakpoint: 32em;
$mast-foreground-color: #fff;
$mast-foreground-color: #000;
$mast-search-background-color: #f1f1f1;
$mast-search-breakpoint: 63.625em;

.mast-wrap {
  border-bottom: 1px solid #eaeaea;
}

.mast {
  height: 3rem;
  background: rgba(255,255,255,0.99);
  margin-bottom: 0;
  position: relative;
  width: 100%;
  z-index: 98;
  line-height: 3rem;
  display: flex;
  justify-content: flex-end;
  max-width: 1336px;
  margin: 0 auto;
  padding: 0 .9rem;
}

.mast-title {
  font-size: 1.35rem;
  font-weight: 800;
  font-style: normal;
  line-height: 3.1rem;
  margin: 0;
  position: absolute;
  left: .9rem;
  // text-transform: uppercase;

  a {
    // line-height: 3.1rem;
    display: inline-block;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.7);
  padding: .2rem;
// color: #000;
color: #fff;
text-transform: uppercase;
line-height: 1;
  // text-indent: 100%;
  // overflow-x: hidden;

  }

  // @media only screen and (min-width: 50em) {
    left: 0;
    right: 0;
    text-align: center;
  // }
}


.mast-search_button {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  -webkit-border-fit: border;
  display: block;
  margin: 0;
  z-index: 1000;
  text-indent: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  background-color: #fff;
  width: 3rem;
  height: 100%;

  &:before {
    background-image: encode-svg('<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">   <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/> <path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-size: contain;
    width: 1rem;
    height: 1rem;
    content: '';
    position: absolute;
    top: 1rem;
    right: .9rem;
    bottom: 1rem;
    transition: background-image;

    .js-toggle_off + & {
      background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="#000" d="M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z"/></svg>');
    }
  }
}

.mast-search_form {
  height: 100%;
  width: 100%;
  z-index: 500;
  opacity: 1;
  transition: opacity .5s ease;

  &.js-toggle_off {
    opacity: 0;
  }
}

.mast-search_input {
  -webkit-appearance: none;
  background-color: $mast-search-background-color;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  font-family: $font-system;
  font-size: .8rem;
  height: 100%;
  padding: .2rem .4rem .2rem 2.8rem;
  // transition-duration: .4s;
  // transition-property: border-color;
  width: 100%;

  &::placeholder {
    font-family: $font-system;
    font-size: .8rem;
    line-height: auto;
  }

  &:hover {
    border-color: rgba(85, 119, 153, .85);
  }
}

.mast-search_input_wrap {
  &::before {
    background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="#000" d="M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z"/></svg>');
    background-size: contain;
    width: 1rem;
    height: 1rem;
    content: '';
    position: absolute;
    top: 1rem;
    left: .9rem;
    bottom: 1rem;
  }
  position: relative;
  width: 100%;
  height: 100%;
}
