$most-watched-divider-color: #eee;

.most_watched_header {
  color: rgba(0, 0, 0, .54);
  font-size: .7rem;
  font-weight: normal;
  letter-spacing: .05rem;
  line-height: 1.2rem;
  margin: 0;
  padding: 1.2rem .8rem 0;
  text-transform: uppercase;
}

.most_watched {
  display: flex;
  flex-direction: column;
  margin: 0 .4rem;
  padding: 0;

  > .card {
    margin-top: .8rem;
  }

  .card_header-title {
    line-height: 2rem;
  }

  @media(min-width: $tablet-breakpoint) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 .4rem;

    > .card {
      margin-right: .2rem;
      width: calc(50% - .2rem);

      &:nth-child(even) {
        margin-left: .2rem;
        margin-right: 0;
      }

      &:last-child {
        flex-grow: 1;
      }
    }
  }

  @media(min-width: $desktop-breakpoint) {
    margin: 0;

    > .card {
      margin-right: .4rem;
      width: calc(50% - .4rem);

      &:nth-child(even) {
        margin-left: .4rem;
      }
    }
  }
}

.most_watched_table {
  border-collapse: collapse;
  position: relative;
  font-size: .65rem;
  width: calc(100% - .8rem);
  margin-left: .8rem;

  th {
    color: rgba(0,0,0, .54);
    font-size: .6rem;
    font-weight: 300;
    // height: 2.4rem;
    line-height: 2.8rem;
    padding: 0 .8rem 0 0;
    text-align: left;
    vertical-align: bottom;

    &.numeric {
      max-width: 0;
      text-align: right;
    }
  }

  td {
    // position: relative;
    vertical-align: top;
    border-top: 1px solid $most-watched-divider-color;
    border-bottom: 1px solid $most-watched-divider-color;
    padding: 0 .8rem 0 0;
    line-height: 2.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 0;
    font-weight: 300;

    &.numeric {
      text-align: right;
    }
  }

  tr:first-child td {
    border-top: 0;
  }

  tr:nth-child(odd) td {
    background-color: rgba(0, 0, 0, .01);
  }
}
