$most-watched-divider-color: #eee;

.most_watched_header {
  font-size: 1rem;
  font-weight: normal;
  height: 1.6rem;
  letter-spacing: 1px;
  margin: 1.2rem .8rem .4rem;
  text-transform: uppercase;
  width: 100%;
}

.most_watched {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  > .card {
    margin-top: .8rem;
  }

  .card_header-title {
    line-height: 2rem;
  }

  @media(min-width: $tablet-breakpoint) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 .4rem;

    > .card {
      margin-right: .2rem;
      width: calc(50% - .2rem);

      &:nth-child(even) {
        margin-left: .2rem;
        margin-right: 0;
      }

      &:last-child {
        flex-grow: 1;
      }
    }
  }

  @media(min-width: $desktop-breakpoint) {
    margin: 0;

    > .card {
      margin-right: .4rem;
      width: calc(50% - .4rem);

      &:nth-child(even) {
        margin-left: .4rem;
      }
    }
  }
}

.most_watched_table {
  border-collapse: collapse;
  position: relative;
  font-family: $sans;
  font-size: .8rem;
  width: 100%;

  th {
    color: rgba(0,0,0, .54);
    font-size: .7rem;
    font-weight: normal;
    height: 2.4rem;
    letter-spacing: 0;
    line-height: 1.2rem;
    padding-bottom: .4rem;
    padding: 0 .9rem;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: bottom;

    &.numeric {
      text-align: right;
    }
  }

  td {
    position: relative;
    vertical-align: top;
    height: 2.4rem;
    border-top: 1px solid $most-watched-divider-color;
    border-bottom: 1px solid $most-watched-divider-color;
    padding: .6rem .9rem 0;

    &.numeric {
      text-align: right;
    }
  }

  tr:nth-child(odd) td {
    background-color: rgba(0, 0, 0, .01);
  }
}
