.post_navigation {
	width: 100%;

  @media(min-width: $tablet-breakpoint) {
    display: flex;
    width: auto;
    margin: 0 .4rem;
  }

  @media(min-width: $desktop-breakpoint) {
    margin: 0;
  }
}

.post_navigation-item {
  margin-top: .8rem;

  @media(min-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: column;
  	width: calc(50% - .4rem);

    .card {
      flex-grow: 1;
    }

  	&:first-child {
  		margin-right: .4rem;
  	}

    &:last-child {
      margin-left: .4rem;

      .post_navigation-header {
        text-align: right;
      }
    }

    &:only-child {
      margin: 0;
      width: 100%;

      .post_navigation-header {
        text-align: left;
      }
    }
  }
}

.post_navigation-header {
  color: rgba(0, 0, 0, .3);
  font-family: $font-system;
  font-size: .8rem;
  font-weight: normal;
  letter-spacing: .1rem;
  line-height: 1.2rem;
  margin: 0;
  padding: 1.2rem .8rem .8rem;
  text-transform: uppercase;
}

