%post {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  font-feature-settings: 'ordn', 'lnum';
  line-height: 1.3rem;
  margin: 0 0 2.6rem;
  padding: 0 1rem;

  @media (min-width: $breakpoint) {
    line-height: 1.4rem;
    margin: 0 auto 2.75rem;
    max-width: 35rem;
    padding: 0;
  }

  a {
    &:hover {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(85, 119, 153, .6) 50%);
      background-position: 0 24px;
      background-repeat: repeat-x;
      background-size: 2px 2px;
    }

    &:before {
      content: none;
    }

    &[rel="footnote"] {
      font-feature-settings: 'sups';
    }
  }

  h2 {
    color: rgba(0, 0, 0, .4);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -.02em;
    line-height: 1.2;
    margin-bottom: .1rem;
    margin-left: -1.6px;
    margin-top: 2rem;

    @media (min-width: $breakpoint) {
      font-size: 1.6rem;
      margin-bottom: .7rem;
    }
  }
  
  .footnotes {
    border-top: 1px solid rgba(0, 0, 0, .05);
    font-weight: 400;
    padding-top: 1.25rem;

    @media (min-width: $breakpoint) {
      padding-top: 1.4rem;
    }
  
    a:hover {
      background-position: 0 16px;
    }

    ol {
      margin: 0;
      padding-left: 1rem;

      @media (min-width: $breakpoint) {
        padding-left: 2rem;
      }
    }
    
    hr {
      display: none;
    }

    li {
      font-size: .8rem;
      list-style-type: decimal;
    }

    p {
      font-size: .8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 0;
      padding-bottom: 1.3rem;
   
      @media (min-width: $breakpoint) {
        font-size: .9rem;
        padding-bottom: 1.4rem;
      }
    }
  }
}

.post-content {
  line-height: 1.4;

  p {
    margin-bottom: 0;
    padding-bottom: 1.5rem;

    @media (min-width: 31.3125em) {
      font-size: 1.1rem;
      letter-spacing: .008rem;
      line-height: 1.5;
    }
  }
}

