%post {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  margin: 0 0 2rem;
  max-width: 35rem;
  padding: 0 1rem;

  @media (min-width: $breakpoint) {
    margin: 0 auto 2rem;
    padding: 0;
  }
}

@media (min-width: 31.3125em) {
  .post-content p {
    font-size: 1.1rem;
    letter-spacing: .00723rem;
    line-height: 1.5;
    margin-bottom: 1.3636363rem;
  }
}
