%post {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  margin: 0 0 2rem;
  max-width: 35rem;
  padding: 0 1rem;

  h2 {
    font-family: $sans;
    letter-spacing: -.02em;
    font-weight: 300;

    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: .1rem;
    margin-left: -1.6px;
    line-height: 1.2;
    color: rgba(0,0,0,.4);
  }

  h3 {
    font-family: $sans;
    letter-spacing: -.02em;
    font-weight: 300;

    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: .1rem;
    margin-left: -1.6px;
    line-height: 1.2;
    color: rgba(0,0,0,.4);
  }

  .footnotes {
    border-top: 1px solid rgba(0, 0, 0, .05);

    hr {
      display: none;
    }

    ol {

      li {
        list-style-type: decimal;
        font-size: .75rem;

        p {
          font-size: .7rem;
        }
      }
    }
  }


  @media (min-width: $breakpoint) {
    margin: 0 auto 2rem;
    padding: 0;

    h2 {
      font-size: 1.6rem;
      margin-bottom: .7rem;
    }

    h3 {
      font-size: 1.3rem;
      margin-bottom: .1rem; 
    }
  }
}

@media (min-width: 31.3125em) {
  .post-content p {
    font-size: 1.1rem;
    letter-spacing: .00723rem;
    line-height: 1.5;
    margin-bottom: 1.3636363rem;
  }
}
