.review {
  @extend %post;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $breakpoint) {
    line-height: .7rem;
  }

  .page-title {
    @media (min-width: $breakpoint) {
      margin-bottom: 0;
    }    
  }
}

.review-backdrop {
  width: 100%;
  background-size: contain;

  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}

.review-aka-list {
  margin: 0;
  text-align: center;
}

.review-aka-list-heading {
  color: rgba(0, 0, 0, .3);
  font-size: .8rem;
  font-weight: normal;
}

.review-aka-list-item {
  color: rgba(0, 0, 0, .6);
  font-size: .85rem;
  letter-spacing: -.02rem;
  line-height: 1.4rem;
  margin: 0;
}

.review-directed-by {
  color: #9a9a9a;
  display: block;
  font-size: .75rem;
  font-weight: 400;
  padding-bottom: .65rem;
  padding-top: .65rem;
  text-align: center;
  font-family: "futura-pt";

  @media (min-width: $breakpoint) {
    font-size: .9rem;
    letter-spacing: -.02rem;
    padding: .7rem 0 1.4rem;
  }
}

.review-rating img {
  display: block;
  height: 1.3rem;
  margin: 0 auto 1.3rem;
  width: 6.5rem;

  @media (min-width: $breakpoint) {
    margin: 0 auto 1.4rem;
    height: 1.4rem;
    width: 7rem;
  }
}


%review-meta-item {
  color: rgba(0, 0, 0, .6);
  font-size: .8rem;
  line-height: 1.1;
  min-height: 1.3rem;

  .role {
    color: rgba(0, 0, 0, .3);
  }

  @media (min-width: $breakpoint) {
    font-size: .85rem;
    letter-spacing: normal;
    line-height: 1.3;
    min-height: 1.4rem;
  }
}

%review-meta-header {
  @extend %small-header;

  border-top: 1px solid rgba(0, 0, 0, .15);
  margin: -1px 0 0;
}