$review-directed-by-color: #9a9a9a;

.review_aka_list {
  margin: .4rem .8rem;
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 1.6rem;
  }
}

.review_aka_list-heading {
  color: rgba(0, 0, 0, .3);
  font-size: .8rem;
  font-weight: normal;
  line-height: 1.5;

  @media (min-width: $tablet-breakpoint) {
    font-size: .9rem;
    line-height: 1.6rem;
  }
}

.review_aka_list-item {
  color: rgba(0, 0, 0, .6);
  font-family: $sans;
  font-size: .8rem;
  line-height: 1.2rem;
  margin: 0;

  @media (min-width: $tablet-breakpoint) {
    font-size: .9rem;
  }
}

.review_directed_by {
  color: $review-directed-by-color;
  display: block;
  font-family: $sans;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin: 0 .8rem;
  padding-bottom: .8rem;
  padding-top: .4rem;
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    font-size: .9rem;
    margin-top: 1.2rem;
    padding: 0 0 1.2rem;
  }
}

.review_rating {
  display: block;
  height: 1.2rem;
  margin: 0 auto 2rem;
  width: 6rem;

  @media (min-width: $tablet-breakpoint) {
    height: 1.4rem;
    margin: 0 auto 1.4rem;
    width: 7rem;
  }
}
