%small-header {
  color: rgba(0, 0, 0, .3);
  font-size: .6rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 1.3rem;
  margin-bottom: .65rem;
  margin-top: 1.3rem;
  padding: .65rem 0 1.3rem;
  text-transform: uppercase;

  @media (min-width: $breakpoint) {
    font-size: .6rem;
    line-height: 1.4rem;
    margin-bottom: .7rem;
    margin-top: 1.4rem;
    padding: .7rem 0 1.4rem;
  }
}
