
%star-container {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  &:before, &:after {
    position: absolute;
    background-repeat: repeat-x;
    content: '';
  }

  &:before {
    background-image: url('/images/star.svg');
    left: 0;
  }

  &:after {
    background-image: url('/images/empty-star.svg');
  }
}

@mixin stars($count, $width, $height) {
  &:before, &:after {
    background-size: $width/5, $height;
    height: $height;
  }

  &:before {
    width: ($width/5) * $count;
  }

  &:after {
    width: ($width/5) * (5 - $count);
    left: ($width/5) * $count;
  }
}

@mixin star-backgrounds($width) {
  width: $width;
  height: ($width / 5) * 1.051334702;

  &.no-stars {
    @include stars(0, $width, ($width / 5) * 1.051334702)
  }
  &.one-star {
    @include stars(1, $width, ($width / 5) * 1.051334702)
  }
  &.two-stars {
    @include stars(2, $width, ($width / 5) * 1.051334702)
  }
  &.three-stars {
    @include stars(3, $width, ($width / 5) * 1.051334702)
  }
  &.four-stars {
    @include stars(4, $width, ($width / 5) * 1.051334702)
  }
  &.five-stars {
    @include stars(5, $width, ($width / 5) * 1.051334702)
  }
}