// breakpoints
$tablet-breakpoint: 48em;
$desktop-breakpoint: 65.2em;
$abbreviation-breakpoint: 44em;

// font-stacks
$sans: 'futura-pt';
$serif: 'freight-text-pro', Georgia, Cambria, 'Times New Roman', Times, serif;

// misc
$highlight: #579;
$max-content-width: 39em;