$color_text_primary: rgba(0, 0, 0, .87);
$color_text_secondary: rgba(0, 0, 0, .54);
$color_text_hint: rgba(0, 0, 0, .38);
$color_primary: #e9e7e0;
$color_accent: #a9a287;
$color_link: #579;
$color_heading: #000;
$color_content_background: #fff;
$font_family_system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
