@import 'filters';

.viewing-log-list {
  @extend %list;
}

.viewing-log-list-item {
  @extend %list-item;

  line-height: 1.3rem;
  padding-bottom: .6rem;
  padding-top: .65rem;
 
  @media (min-width: $breakpoint) {
    line-height: 1.4rem;
    margin-left: 2rem;
    padding-bottom: .65rem;
    padding-top: .7rem;
  }
}

.viewing-log-list-item-header {
  @extend %list-item-header;
}

.viewing-log-list-item-title {
  @extend %list-item-title;

  display: block;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.3rem;

  &:before {
    content: counter(filter-results) '. ';
    counter-increment: filter-results;
    left: -2.5rem;
  }

  @media (min-width: $breakpoint) {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.viewing-log-list-item-rating {
  @extend %list-item-rating;

  bottom: -.75rem;
  height: .55rem;
  width: 2.75rem;

  @media (min-width: $breakpoint) {
    height: .8rem;
    margin-left: .2rem;
    top: .1rem;
    width: 4rem;
  }
}

.viewing-log-list-item-slug {
  @extend %list-item-slug;

  font-size: .75rem;
  line-height: 1.3;
  margin-bottom: 1px;
  min-height: 1.25rem;
  padding-top: 0;

  &.with-rating:before {
    content: '';
    display: inline-block;
    width: 2.85rem;
  }

  @media (min-width: $breakpoint) {
    font-size: .8rem;
    margin-bottom: 0;
    min-height: 1.4rem;

    &.with-rating:before {
      display: none;
    }
  }
}

.viewing-log-filters-header {
  @extend %small-header;
  margin: 0;
}

.column-one-third {
  padding: 1.3rem 1rem 0;
}

@media (min-width: $max-content-width + 4em) {
  .column-one-third {
    display: inline-block;
    padding: 1.4rem 1rem 0;
    vertical-align: top;
    width: 33.5%;
  }

  .column-two-thirds {
    display: inline-block;
    margin-top: 4.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
    width: 66.5%;
  }
}

