@import 'filters';

$viewings-card-background-color: #fff;

.viewings__header {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: $sans;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 1.2rem .8rem;
}

.viewings__filters {
  background-color: $viewings-card-background-color;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  padding: .8rem;
}

.viewings__filters__header {
  margin: 0;
  font-family: $sans;
  font-size: .8rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2rem;
  padding: .4rem 0 1.2rem 0;
}


.viewings__list {
  margin: 0;
  background-color: $viewings-card-background-color;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  margin-top: 1.2rem;
  font-family: $sans;
  padding: .4rem 0;
}

.viewings__list__item {
  font-weight: normal;
  list-style-type: none;
  padding: .8rem .8rem .75rem .8rem;
  border-bottom: solid 1px rgba(0,0,0,0.07);
  min-height: 4.2rem;

  &:last-child {
    border-bottom: none;
  }
}

.viewings__list__item__title {
  display: block;
  font-size: .8rem;
  font-weight: normal;
  line-height: 1.6rem;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:before {
    display: none;
    color: rgba(0,0,0,.5);
    content: counter(filter-results) '. ';
    counter-increment: filter-results;
    left: -2.5rem;
  }
}

.viewings__list__item__slug {
  color: rgba(0, 0, 0, .4);
  font-size: .75rem;
  line-height: .9rem;
  min-height: 2rem;
  padding-left: 1px;
}