$serif: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
$sans: "futura-pt";

// $breakpoint: 68.5em;
$breakpoint: 700px;
$max-content-width: 39em;
$highlight: #579;

@import 'list';
@import 'small-header';
@import 'post';

@import 'base';
@import 'mast';
@import 'footer';
@import 'feature';
@import 'review';
@import 'latest-updates';
@import 'viewings';
@import 'how-i-grade';
@import '404';
@import 'js';
