@import 'variables';
@import 'post';
@import 'card';

@import 'base';
@import 'mast';
@import 'footer';
@import 'about';
@import 'recent-posts';
@import 'review';
@import 'latest-updates';
@import 'js';
