$sans: "Segoe UI", "jaf-bernino-sans", "Helvetica Neue", "Arial", sans-serif;
$serif: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;

$sidebar-background: #191918;
$highlight: #579;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;  // Prevent scroll on narrow devices
  padding: 0;
}

html {
  font-family: $serif;
  font-size: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fff;
  border-top: 4px solid $highlight;
  color: rgba(0, 0, 0, .8);
  letter-spacing: -.018rem;
  -webkit-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .3) 50%);
  background-position: 0 1.1em;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: inherit;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

// `:focus` is linked to `:hover` for basic accessibility
a:hover,
a:focus {
  color: #579 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #313131;
  font-family: $sans;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: .5rem;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
  margin-top: 1rem;
}

p {
  letter-spacing: .01rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

strong {
  color: #303030;
}

//
// Wrapper
//
// The wrapper is used to position site content when the sidebar is toggled. We
// use an outter wrap to position the sidebar without interferring with the
// regular page content.
.wrap {
  background-color: #fff;
  position: relative;
  width: 100%;
  z-index: 200;
}

//
// Container
//
// Center the page content.
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 31.8182rem;
  padding-left: 1rem;
  padding-right: 1.25rem;
}

@media (min-width: 46.5625em) {
  .container {
    max-width: 35rem;
    padding-left: 0;
    padding-right: 0;
  }
}

//
// Masthead
//
// Super small header above the content for site name and short description.
.masthead {
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  margin-bottom: 0;
  padding-bottom: .5rem;
  padding-top: 0;
}

.masthead-title {
  color: #505050;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;

  a {
    background-image: none;
    color: rgba(0, 0, 0, .8);
    font-size: 1rem;
    font-weight: 400;
  }
}

@media (min-width: 46.5625em) {
  .masthead-title a {
    font-size: 1.1rem;
  }
}

//
// Sidebar
//
// The sidebar is the drawer, the item we are toggling with our handy hamburger
// button in the corner of the page.
//
// This particular sidebar implementation was inspired by Chris Coyier's
// "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
// comments by a reader. It modifies both implementations to continue using the
// checkbox (no change in URL means no polluted browser history), but this uses
// `position` for the menu to avoid some potential content reflow issues.
//
// Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
.sidebar {
  background-color: $sidebar-background;
  border-top: 4px solid $sidebar-background;
  bottom: 0;
  color: rgba(255, 255, 255, .6);
  font-family: $sans;
  font-size: .8rem;
  left: 0;
  letter-spacing: .016rem;
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: all .3s ease-in-out;
  width: 13rem;
  z-index: 100;

  a {
    background-image: none;
    color: rgba(255, 255, 255, .65098);
    font-weight: normal;
  }
}

@media (min-width: 46.5625em) {
  .sidebar {
    border-color: $highlight;
  }
}

.sidebar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.sidebar-nav-item {
  border-top: 1px solid rgba(255, 255, 255, .1);
  display: block;
  padding: .5rem 1rem;
}

.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  background-color: rgba(255, 255, 255, .1);
  border-color: transparent;
  text-decoration: none;
}

// Hide the sidebar checkbox that we toggle with `.sidebar-toggle`
.sidebar-checkbox {
  display: none;
}

// Style the `label` that we use to target the `.sidebar-checkbox`
.sidebar-toggle {
  background-color: transparent;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 2.2rem;
  left: .5rem;
  padding: .5rem .65rem;
  position: absolute;
  -webkit-tap-highlight-color: #fff;
  top: .55rem;
  width: 2.2rem;
  z-index: 300;
}

// Hamburger icon
.nav-menu {
  height: 12px;
  fill: rgba(0, 0, 0, .8);
  transition: all .3s ease-in-out;

  &:hover {
    fill: #579;
  }
}

//
// Slide effect
//
// Handle the sliding effects of the sidebar and content in one spot, seperate
// from the default styles.
//
// As an a heads up, we don't use `transform: translate3d()` here because when
// mixed with `position: fixed;` for the sidebar toggle, it creates a new
// containing block. Put simply, the fixed sidebar toggle behaves like
// `position: absolute;` when transformed.
//
// Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
.wrap,
.sidebar,
.sidebar-toggle,
.sidebar-checkbox,
.nav-menu {
  backface-visibility: hidden;
}

.wrap,
.nav-menu,
.sidebar-toggle {
  transition: transform .3s ease-in-out;
}

#sidebar-checkbox:checked + .sidebar {
  opacity: 1;
}

#sidebar-checkbox:checked ~ .wrap,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  transform: translateX(13rem);
}

//
// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.
.post {
  margin-bottom: 4em;
  margin-top: 3rem;
}

.post-title,
.post-title a {
  color: #303030;
  font-size: 1.5rem;
  letter-spacing: -.02em;
}

.post-title {
  margin-top: 0;
  text-align: center;
}

@media (min-width: 46.5625em) {
  .post-title {
    font-size: 2.25rem;
    letter-spacing: -.04em;
  }
}

.feature-title {
  margin-bottom: 2rem;
}

.post-slug {
  color: #9a9a9a;
  display: block;
  font-family: $sans;
  font-size: .7rem;
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: center;
}

@media (min-width: 46.5625em) {
  .post-slug {
    font-size: .8rem;
    letter-spacing: -.02rem;
  }
}

@media (min-width: 31.3125em) {
  .post-content p {
    font-size: 1.1rem;
    letter-spacing: .00723rem;
    line-height: 1.5;
    margin-bottom: 1.3636363rem;
    text-indent: 2.5rem;
  }
}

//
// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.
.pagination {
  background-color: #fcfcfc;
  color: #ccc;
  margin-left: -1rem;
  margin-right: -1.25rem;
  overflow: hidden; // clearfix
  text-align: center;
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  background-image: none;
  color: rgba(0, 0, 0, .8);
  display: block;
  font-family: $sans;
  font-weight: bold;
  margin: 0;
  padding: 1rem;
  width: 50%;

  &.newer {
    float: left;
    text-align: left;
  }

  &.older {
    float: right;
    text-align: right;
  }
}

.pagination-item:first-child {
  margin-bottom: -1px;
}

.pagination-icon {
  height: 1rem;
  padding-bottom: 3px;
  vertical-align: middle;
  width: 1rem;

  path {
    fill: rgba(0, 0, 0, .8);
  }
}

// Only provide a hover state for linked pagination items
.pagination-item:hover {
  background-color: #f5f5f5;
}

//
// Icons
//
// Inline SVG styles.
.icon {
  height: 1rem;
  vertical-align: bottom;
  width: 1rem;
}

.twitter path {
  fill: #0054ab;
}

.feed path {
  fill: #f4a546;
}

//
// Site search box in sidebar.
//
.search-wrap {
  padding-bottom: .25rem;
  padding-top: .25rem;
  position: relative;
}

.search-icon {
  fill: rgba(0, 0, 0, .3);
  height: .8rem;
  left: .9rem;
  position: absolute;
  top: 1.1rem;
  width: .8rem;
}

.site-search-input {
  border: 0;
  border-radius: .8rem;
  font-family: $sans;
  font-size: .8rem;
  margin: .5rem;
  padding: .3rem .5rem .3rem 1.5rem;
  width: 12rem;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .3);
  transform: translate(0, 0);
  -webkit-transition: opacity .3s linear;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transform: translate(0, 0);
}

//
// Site footer.
//
.site-footer {
  color: rgba(0, 0, 0, .3);
  font-family: $sans;
  font-size: .7rem;
  padding: 1rem;
  text-align: center;

  .icon {
    background-color: #fff;
  }
}

@media (min-width: 46.5625em) {
  .site-footer {
    font-size: .8rem;
  }
}

.site-footer-feed {
  margin-left: .5rem;
}

//
// Lists.
//
ul,
ol,
dl {
  margin-bottom: 1rem;
  margin-top: 0;
}

li {
  list-style-type: none;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

// Title for lists
.list-title {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .3);
  display: block;
  font-size: .65rem;
  font-weight: 600;
  letter-spacing: .065rem;
  margin: 2rem 0;
  padding: .4rem 0;
  text-align: center;
  text-transform: uppercase;
}

.plain-list {
  margin-left: 0;
  padding-left: 0;
}

@media (min-width: 46.5625em) {
  .plain-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 32rem;
  }
}

.list-item {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .3);
  line-height: .8;
  margin-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.list-item:first-child {
  margin-top: 0;
}

.list-item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.list-item-with-number {
  padding-left: 2rem;
  position: relative;
}

.list-item-number {
  color: rgba(0, 0, 0, .5);
  font-size: 1.2rem;
  font-weight: 300;
  left: 0;
  margin-top: -1.2rem;
  position: absolute;
  top: 50%;
}


@media (min-width: 46.5625em) {
  .list-item-with-counter {
    padding-left: 4rem;
  }

  .list-item-counter {
    font-weight: 300;
    width: 3rem;
    display: block;
    position: absolute;
    left: 0;
    text-align: center;
    top: 50%;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    background-color: #fcfcfc;
    height: 3rem;
    color: rgba(0, 0, 0, .4);
    margin-top: -2.5rem;
    line-height: 2.65rem;
    font-size: 1.2rem;
    transition: all .3s ease-in-out;

    &:hover {
      border-color: #579;
      color: #579;
    }
  }

  .list-item-counter-dot {
    display: none;
  }
}

.list-item-title {
  display: block;
  font-family: $sans;
  font-size: .9rem;
  letter-spacing: -.02em;
  line-height: 1.2;
  padding-bottom: .4rem;
  position: relative;

  a {
    background-image: none;
    color: rgba(0, 0, 0, .8);
    font-weight: 700;
  }
}

@media (min-width: 46.5625em) {
  .list-item-title {
    position: static;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.1;
    padding-bottom: 0;
    margin-bottom: .5rem;

    a {
      display: inline-block;
      margin-right: .3rem;

      &:hover > .list-item-counter {
        border-color: #579;
        color: #579;
      }
    }
  }
}

.list-item-description {
  color: rgba(0, 0, 0, .4);
  display: inline;
  font-family: $sans;
  font-size: .7rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 46.5625em) {
  .list-item-description {
    display: block;
    font-size: .75rem;
    letter-spacing: normal;
    line-height: 1.3;
  }
}

.list-item-rating {
  position: absolute;
  height: .7rem;
  width: 3.5rem;
  left: 0;
  bottom: -.7rem;

  .rating {
    display: inline-block;
  }

  .star,
  .empty-star,
  .half-star {
    height: .8rem;
    width: .8rem;
  }
}

@media (min-width: 46.5625em) {
  .list-item-rating {
    display: inline-block;
    height: .9rem;
    margin: 0;
    position: relative;
    top: 1px;
    left: auto;
    bottom: auto;
    width: 4.5rem;

    .empty-star,
    .star {
      height: .9rem;
      width: .9rem;
    }
  }
}

.list-item-rating-placeholder {
  display: inline-block;
  width: 3.7rem;
}

@media (min-width: 46.5625em) {
  display: none;
}

.star {
  fill: #eda829;
}

.empty-star {
  fill: #ddd;
}

@media (min-width: 46.5625em) {
  .empty-star,
  .star {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.rating-wrap {
  height: 1rem;
  margin: 2rem auto;
  width: 5rem;
}

@media (min-width: 46.5625em) {
  .rating-wrap {
    height: 1.5rem;
    width: 7.5rem;
  }
}

//
// Cards
//
// Viewings and credits.
.card-header {
  border-top: 1px solid rgba(0, 0, 0, .15);
  color: rgba(0, 0, 0, .3);
  font-family: $sans;
  font-size: .55rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .1em;
  padding: .6rem 0 1.4rem;
  text-transform: uppercase;
}

@media (min-width: 46.5625em) {
  .card-header {
    font-size: .6rem;
  }
}

.card-description {
  color: rgba(0, 0, 0, .6);
  font-family: $sans;
  font-size: .75rem;
}

@media (min-width: 46.5625em) {
  .card-description {
    font-size: .8rem;
    letter-spacing: inherit;
  }
}

.role {
  color: rgba(0, 0, 0, .3);
}

//
// Aka titles
//
.aka {
  margin-bottom: 1rem;
  text-align: center;
}

.aka-heading {
  color: rgba(0, 0, 0, .3);
  font-family: $sans;
  font-size: .8rem;
  font-weight: normal;
}

.aka-title {
  color: rgba(0, 0, 0, .6);
  font-family: $sans;
  font-size: .8rem;
  letter-spacing: -.02rem;
  margin: 0;
}

//
// Multi-column
//
@media (min-width: 50em) {
  .column-half {
    display: inline-block;
    padding-right: 1rem;
    vertical-align: top;
    width: 49%;
  }

  .column-half:last-child {
    padding-left: 1rem;
    padding-right: 0;
  }

  .column-one-third {
    display: inline-block;
    padding-right: 1rem;
    vertical-align: top;
    width: 33%;
  }

  .column-two-thirds {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 0;
    vertical-align: top;
    width: 66%;
  }
}

.full {
  display: none;
}

.abbreviation:after {
  content: ':';
}

@media (min-width: 46.5625em) {
  .abbreviation:after {
    content: '';
  }

  .full {
    display: inline;
  }
}

@import 'filters';
