@import "poole";
@import "lanyon";

$sans: "petala-pro", Helvetica, Arial, sans-serif;

a, .post-title a {
  color: #579;
}

.sidebar {
  background-color: #3d444c;
}

.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #579;
}

.sidebar {
  color: #D7DADD;
  font-family: $sans;
  font-weight: 100;
}


.site-footer {
  background-color: #3D444C;
  color: #D7DADD;
  font-family: $sans;
  font-size: .75rem;
  font-weight: 300;
  border-bottom: .5rem solid #579;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.icon {
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
}

.movie-list {
  margin-left: 0;
  padding-left: 0;
}

.twitter path {
  fill: #0054ab;
}

.feed path {
  fill: #f4a546;
}

.site-footer a {
  color: white;
}

.sidebar-nav-item {
  border-top-color: #656b74;
}

.sidebar-nav-item.active, a.sidebar-nav-item:hover, a.sidebar-nav-item:focus {
  background-color: #89a;
}

.sidebar-nav {
  border-bottom-color: #656b74;
}

.posts {
  padding-right: 5px;
}

.aka {
  font-family: $sans;
  font-size: .8rem;
}

.aka-heading {
  font-weight: 100;
  color: #9a9a9a;
}

.aka-title {
  margin: 0;
  color: #9a9a9a;
  font-weight: normal;
}

.viewing {
  font-family: $sans;
  font-size: .8rem;
  color: #9a9a9a;
}

html {
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

body {
  color: rgba(0,0,0,0.8);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  font-weight: 700;
}

p {
  letter-spacing: 0.01rem;
  margin-bottom: 1.5rem;
}

li {
  list-style-type: none;
}

.viewings-list {
  padding-left: 1.2rem;
}

.viewings-list li {
  list-style-type: decimal;
}

.post-date {
  font-size: .75rem;
  margin-top: 0;
}

.post-title {
  // margin-bottom: 2rem;
}

// .post p:first-of-type {
//   margin-top: 2rem;
// }

.masthead {
  background-color: #579;
  // position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding-top: 0;
  padding-bottom: 0;

  small {
    font-size: .75rem;
  }
}

.sidebar-toggle {
  z-index: 200;
  background-color: #579;
  color: white;
  top: 0;
  padding-top: 7px;
  padding-bottom: 4px;
}

.layout-reverse .sidebar-toggle {
  right: .5rem;
}

.sidebar-toggle:before {
  display: none;
}

.nav-menu {
  height: 12px;

  g {
    fill: white;
  }
}

.masthead {
  margin-bottom: 2rem;
}

.container {
  padding-right: 1.25rem;
}

.masthead-title a {
  color: white;
  // font-weight: 100;
  line-height: 2rem;
  font-size: 1rem;
}

.post-date {
  font-family: $sans;
}

.post-title {
  font-size: 1.3rem;
}

.viewings-header, .credits-header, .missed-header {
  border-bottom: 1px dashed rgba(0,0,0,.2);
  padding-bottom: 3px;
}

.missed-header {
  font-size: 1.2rem;
}

.list-item-title {
  font-family: $sans;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pagination-item {
  font-family: $sans;
  border-bottom: none;
}

.rating {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.star, .half-star, .empty-star {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  float: left;
}

.star polygon {
  fill: #EDA829;
}

.half-star-full {
  fill: #EDA829;
}

.half-star-empty {
  fill: #ddd;
}

.empty-star {
  fill: #ddd;
}

.list-item .rating {
  margin: 0 .3rem 0 0;
  float: left;
  height: .8rem;
  padding-top: .13rem;

  .star, .half-star, .empty-star {
    width: .8rem;
    height: .8rem;
    // padding-top: 3px;
  }
}

.pagination {
  margin-right: -1.25rem;
  background-color: #fcfcfc;
}

.pagination .icon {
  vertical-align: middle;
  width: 1.4rem;
  height: 1.4rem;
  padding-bottom: 3px;
}

.pagination .icon path {
  fill: #579;
}

.pagination-item.newer {
  text-align: left;
}

.pagination-item.older {
  text-align: right;
}

.list-item {
  border-bottom: 1px solid #eee;
  margin-top: 1rem;
}

.list-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}


.credits {
  font-family: $sans;
  font-size: .8rem;
  font-weight: normal;
  color: #9a9a9a;
  list-style-type: none;
  padding-left: 0;
}

@media (max-width: 48rem) {
  .masthead-title {
    text-align: left;
  }

  .sidebar-toggle {
    // position: fixed;
  }
}

@media (min-width: 56rem) {
  html {
    font-size: 22px;
    line-height: 1.5;
  }

  .post-date {
    font-size: .80rem;
  }

  .container {
    max-width: 34rem;
  }
}


.layout-reverse .sidebar {
  right: -13rem;
  width: 13rem;
}

.masthead {
  -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}
.masthead {
  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: transform .3s ease-in-out;
}

.layout-reverse #sidebar-checkbox:checked ~ .wrap,
.layout-reverse #sidebar-checkbox:checked ~ .masthead,
.layout-reverse #sidebar-checkbox:checked ~ .sidebar,
.layout-reverse #sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(-13rem);
      -ms-transform: translateX(-13rem);
          transform: translateX(-13rem);
}