@import "poole";
@import "lanyon";

a, .post-title a {
  color: #579;
}

.sidebar,
.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #3d444c;
}

.sidebar {
  color: #D7DADD;
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
}

.sidebar-nav-item {
  border-top-color: #656b74;
}

.sidebar-nav-item.active, a.sidebar-nav-item:hover, a.sidebar-nav-item:focus {
  background-color: #89a;
}

.sidebar-nav {
  border-bottom-color: #656b74;
}

.aka {
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
  font-size: .8rem;
}

.aka-title {
  margin: 0;
  color: rgba(0,0,0,.7);
}

.viewing {
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
  font-size: .8rem;
  color: rgba(0,0,0,.7);
}

html {
  font-family: "adobe-garamond-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
}

body {
  color: rgba(0,0,0,0.8);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
}

.post-date {
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
}

body {
  border-top: solid 4px #579;
}

@media (min-width: 56rem) {
  html {
    font-size: 22px;
  }

  .post-date {
    font-size: .80rem;
  }

  .container {
    max-width: 34rem;
  }
}