.footer {
  padding: 2.2rem .9rem 1.5rem;
  margin-bottom: 2.4rem;
  border-top: solid 1px #e5e5e5;
  font-family: $font-heading;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.75;
  margin-bottom: .7rem;
  letter-spacing: .3px;
}

.footer-link {
  font-size: .75rem;
  padding: 0 .4rem;

  a {
    color: #717171;
  }
}

.footer-sub_link {
   padding: 0 .4rem;
   font-size: .65rem;

  a {
    color: #b5b5b5;
  }
}

