@import 'variables';

.not_found_search {
  margin-bottom: 1.3rem;
  text-align: center;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 1.4rem;
  }
}

.not_found_search-input {
  background-color: rgba(255, 255, 255, .8);
  border: 0;
  border-bottom: solid 1px rgba(0, 0, 0, .2);
  font-family: $serif;
  font-size: 1rem;
  margin: .25rem 0;
  padding: .3rem .5rem .3rem .4rem;
  text-align: center;
  width: 100%;

  &::placeholder {
    color: rgba(0, 0, 0, .3);
    font-size: .8rem;
    text-align: center;
    text-transform: uppercase;
    transform: translate(0, 0);
    transition: opacity .3s linear;
  }

  @media (min-width: $tablet-breakpoint) {
    font-size: 1rem;
    margin: 0;
    padding: .5 .5rem 2rem;

    &:hover {
      border-color: $highlight;
    }
  }
}
