.more-wrap {
  padding: 0 .9rem;
  margin-bottom: 2rem;
}

.more-header {
  font-size: .6rem;
  text-transform: uppercase;
  font-weight: bold;
}

.more-pagination {
  text-align: center;
}

.more-pagination_link {
  margin-top: 1.6rem;
  padding: .3rem 2.1rem .3rem 1.1rem;
  border: 1px solid rgba(0,0,0,0.2);
  color: #000;
  border-radius: 5px;
  font-size: .75rem;
  position: relative;
  display: inline-block;
  line-height: .9rem;

  &:after {
    content: '';
    position: absolute;
    background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" width="2048" height="2048"><path d="M1315 1024q0-13-10-23L839 535q-10-10-23-10t-23 10l-50 50q-10 10-10 23t10 23l393 393-393 393q-10 10-10 23t10 23l50 50q10 10 23 10t23-10l466-466q10-10 10-23z" fill-opacity=".7"/></svg>');
    right: .8rem;
    width: 1rem;
    height: 1rem;
    background-size: contain;

  }
}

.more-post_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.9rem;
}

.more-post_list_post {
  padding: 0 .9rem;
  width: 50%;
  list-style-type: none;

  @media only screen and (min-width: 37.5em) {
    width: 25%;
  }
}

.more-post_list_post_backdrop {
  margin: 0 0 .35rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: .8s opacity;

  &:before {
    padding-top: 56.249999993%;
    height: 0;
    content: '';
    display: block;
  }

  &.loaded {
    opacity: 1;
  }
}

.more-post_list_post_title {
  font-size: .8rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 .1rem 0;
  color: #333;
}

.more-post_list_post_grade {
  height: .65rem;
  display: block;
  margin-bottom: .5rem;
}

.related-wrap {
  padding: 0;
  margin: 1.5rem auto;
  max-width: 35rem;
}

.related-header {
  color: #000;
  font-size: .8rem;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  margin: 0 0 .5rem;
  padding-bottom: .2rem;
  line-height: 1.2;
}

.related-pagination {
  text-align: center;
}

.related-pagination_link {
  margin-top: 1.6rem;
  padding: .3rem 2.1rem .3rem 1.1rem;
  border: 1px solid rgba(0,0,0,0.2);
  color: #000;
  border-radius: 5px;
  font-size: .75rem;
  position: relative;
  display: inline-block;
  line-height: .9rem;

  &:after {
    content: '';
    position: absolute;
    background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" width="2048" height="2048"><path d="M1315 1024q0-13-10-23L839 535q-10-10-23-10t-23 10l-50 50q-10 10-10 23t10 23l393 393-393 393q-10 10-10 23t10 23l50 50q10 10 23 10t23-10l466-466q10-10 10-23z" fill-opacity=".7"/></svg>');
    right: .8rem;
    width: 1rem;
    height: 1rem;
    background-size: contain;

  }
}

.related-post_list {
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.related-post_list_post {
  // padding: 0 .9rem;
  max-width: 32.2%;
  list-style-type: none;

  @media only screen and (min-width: 37.5em) {
    width: 32.2%;
    padding: 0;
  }
}

.related-post_list_post_backdrop {
  margin: 0 0 .35rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: .8s opacity;

  &:before {
    padding-top: 56.249999993%;
    height: 0;
    content: '';
    display: block;
  }

  &.loaded {
    opacity: 1;
  }
}

.related-post_list_post_title {
  font-size: .65rem;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 .1rem 0;
  color: #000;
}

.related-post_list_post_grade {
  height: .55rem;
  display: block;
  margin-bottom: .5rem;
}

.pagination-wrap {
  @include base-container;
  font-size: .7rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100;

  // background-color: #fff;
  // border-top: 1px solid rgba(0,0,0,.15);

  @media(min-width: $desktop-breakpoint) {
    // position: relative;
  }
}

.pagination {
  @include base-container;
  // padding-top: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: .8rem;
  background-color: #111110;

  @media(min-width: $desktop-breakpoint) {
    // padding-top: 1.8rem;
  }
}

@mixin pagination_item {
  color: #fff;
  display: block;
  font-weight: 400;
  line-height: 2.4rem;
  padding: 0 .8rem;
  position: relative;

  &:after {
    background-size: contain;
    content: '';
    height: 1rem;
    position: absolute;
    top: .7rem;
    width: 1rem;
    border-radius: 50%;
  }

  // color: rgba(0, 0, 0, .54);

  @media(min-width: $tablet-breakpoint) {
    line-height: 2.8rem;

    &:after {
      top: .9rem;
    }
    // color: rgba(0, 0, 0, .54);
  }
}

.pagination-newer {
  @include pagination_item;

  padding-left: 2.2rem;
  text-align: left;

  &:after {
    background-image: encode-svg('<svg fill="#579" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>');
    left: .8rem;
  }

  @media(min-width: $tablet-breakpoint) {
    margin-left: .4rem;
  }

}

.pagination-older {
  @include pagination_item;

  padding-right: 2.2rem;
  text-align: right;

  &:after {
    background-image: encode-svg('<svg fill="#579" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>');
    right: .8rem;
  }

  @media(min-width: $tablet-breakpoint) {
    margin-right: .4rem;
  }
}
