$recent-posts-border-color: #eee;

.recent_posts_list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  > .card {
    margin-top: .8rem;
  }

  @media(min-width: $tablet-breakpoint) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 .4rem;

    > .card {
      margin-right: .2rem;
      width: calc(50% - .2rem);

      &:nth-child(odd) {
        margin-left: .2rem;
        margin-right: 0;
      }


      &:first-child {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }

      &:last-child {
        flex-grow: 1;
      }
    }
  }

  @media(min-width: $desktop-breakpoint) {
    margin: 0;

    > .card {
      margin-right: .4rem;
      width: calc(50% - .4rem);

      &:nth-child(odd) {
        margin-left: .4rem;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.recent_posts > .card_actions a {
  display: inline-block;
  float: right;
  font-family: $sans;
  font-size: .7rem;
  padding-right: 1.6rem;
  position: relative;
  text-transform: uppercase;

  &:after {
    background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" width="2048" height="2048"><path d="M1315 1024q0-13-10-23L839 535q-10-10-23-10t-23 10l-50 50q-10 10-10 23t10 23l393 393-393 393q-10 10-10 23t10 23l50 50q10 10 23 10t23-10l466-466q10-10 10-23z" fill-opacity=".7"/></svg>');
    background-size: contain;
    content: '';
    height: 1rem;
    position: absolute;
    right: .4rem;
    top: .3rem;
    width: 1rem;
  }
}
