:ruby
  form_classes = 'layout_mast-search_form js-toggle js-toggle_off'

%header.layout_mast
  .layout_mast-wrap
    %ul.layout_mast-nav
      %li.layout_mast-nav_item
        %a.layout_mast-nav_link{ href: '/',  class: current_page.url == '/' ? 'active': '' }
          Home
      %li.layout_mast-nav_item
        %a.layout_mast-nav_link{ href: '/reviews/', class: current_page.url == '/reviews/' ? 'active' : '' }
          Reviews
      %li.layout_mast-nav_item
        %a.layout_mast-nav_link{ href: '/how-i-grade/', class: current_page.url == '/how-i-grade/' ? 'active' : '' }
          How I Grade
    = form_tag('https://www.google.com/search', method: :get, class: form_classes) do
      = hidden_field_tag 'q', value: 'site:www.franksmovielog.com'
      .layout_mast-search_input_wrap
        = text_field_tag('q', placeholder: 'What are you looking for?',
                              id: 'mastSearchInput',
                              class: 'layout_mast-search_input',
                              tabindex: 2)
    %button.layout_mast-search_button{ data: { toggle: true }, accessKey: 'S', tabindex: 3 }
      Search
.layout_mast-title_wrap
  %h1.layout_mast-title
    %a.layout_mast-title_link{ href: '/' }
      Frank's Movie Log
  .layout_mast-sub_title
    I'm not a great writer. Maybe not even a good one. <span class="nowrap">But with practice I can be better.</span>
