%footer.layout_footer
  %ul.layout_footer-list
    %li.layout_footer-list_item
      %a.layout_footer-link{ href: '/about/' } About
    %li.layout_footer-list_item
      %a.layout_footer-link{ href: '/how-i-grade/' } How I Grade
    %li.layout_footer-list_item
      %a.layout_footer-link{ href: '/reviews/' } Reviews
    %li.layout_footer-list_item
      %a.layout_footer-link{ href: '/cast-and-crew/' } Cast & Crew
    %li.layout_footer-list_item
      %a.layout_footer-link{ href: '/viewings/' } Viewing Log
    %li.layout_footer-list_item
      %a.layout_footer-link{ href: '/metrics/' } Metrics
  %ul.layout_footer-list
    %li.layout_footer-list_item
      %a.layout_footer-sub_link{ href: 'https://twitter.com/FranksMovieLog' } Twitter
    %li.layout_footer-list_item
      %a.layout_footer-sub_link{ href: '/feed.xml' } RSS
