@import 'source/stylesheets/js';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: #579;
  text-decoration: none;
  line-height: inherit;
}

body, html {
  font-size: 16px;
}

body {
  background: #e9e7e0;
  color: rgba(0, 0, 0, .8);
  font-family: "Charter", "Iowan Old Style", Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
  word-break: break-word;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  word-break: break-word;
}

@import 'layout_mast';
@import 'layout_footer';