@import 'source/stylesheets/variables';
$color_mast_nav_link: #c9c4b3;
$color_mast_background: #222;
$color_search_button_background: #1f1f1f;
$color_search_button_border: #444;

.layout_mast {
  height: 40px;
  overflow: hidden;
  position: relative;
}

.layout_mast-nav {
  color: $color_mast_nav_link;
  display: flex;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: .1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  a {
    color: inherit;
  }

  @media only screen and (min-width: 40.625em) {
    margin-left: 98px;
  }
}

.layout_mast-nav_item {
  line-height: 40px;
  margin: 0 10px;
}

.layout_mast-nav_link {
  display: inline-block;
  position: relative;

  &.active {
    color: $color_content_background;

    &:after {
      background: $color_primary;
      bottom: 0;
      content: '';
      height: 5px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}

.layout_mast-title_wrap {
  background: $color_content_background;
  border-bottom: 2px solid $color_primary;
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px 20px 30px 75px;
  position: relative;

  @media only screen and (min-width: 40.625em) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.layout_mast-title {
  display: inline-block;
  font-size: 27px;
  font-style: normal;
  line-height: 1.2;
  margin: 0;
  padding: 0;

  @media only screen and (min-width: 40.625em) {
    font-size: 32px;
  }
}

.layout_mast-sub_title {
  color: $color_text_secondary;
  display: block;
  font-size: 18px;
  line-height: 1.2;
  margin-left: .5px;

  @media only screen and (min-width: 40.625em) {
    font-size: 20px;

    .nowrap {
      white-space: nowrap;
    }
  }
}

.layout_mast-wrap {
  background: $color_mast_background;
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.layout_mast-title_link {
  color: inherit;

  &:before {
    background: $color_mast_background;
    border-radius: 50%;
    color: $color_content_background;
    content: 'M';
    font-size: 27px;
    height: 42px;
    left: 16px;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 42px;
  }

  @media only screen and (min-width: 40.625em) {
    &:before {
      border-radius: 50%;
      font-size: 32px;
      height: 52px;
      left: 35px;
      line-height: 52px;
      top: 35px;
      width: 52px;
    }
  }
}

.layout_mast-search_button {
  -webkit-appearance: none;
  background-color: $color_search_button_background;
  border: 1px solid $color_search_button_border;
  -webkit-border-fit: border;
  border-radius: 4px;
  display: block;
  height: 34px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 3px;
  -webkit-tap-highlight-color: $color_content_background;
  text-indent: 37px;
  top: 3px;
  width: 34px;
  z-index: 1000;

  &:before {
    background-image: encode_svg('<svg fill="#c9c4b3" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/> <path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-size: contain;
    content: '';
    height: 24px;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: background-image;
    width: 24px;

    .js-toggle_off + & {
      background-image: encode_svg('<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="#c9c4b3" d="M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z"/></svg>');
    }
  }
}

.layout_mast-search_form {
  border: 3px solid $color_mast_background;
  height: 40px;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 35px;
  top: 0;
  transition: opacity .5s ease;
  z-index: 500;

  &.js-toggle_off {
    opacity: 0;
  }

  @media only screen and (min-width: 50em) {
    left: auto;
    width: 40%;
  }
}

.layout_mast-search_input {
  -webkit-appearance: none;
  background-color: $color_content_background;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  height: 100%;
  padding: .2rem 1.12rem .2rem 50px;
  width: 100%;

  &::placeholder {
    font-size: 1rem;
    line-height: auto;
  }

  &:hover {
    border-color: rgba(85, 119, 153, .85);
  }
}

.layout_mast-search_input_wrap {
  height: 100%;
  position: relative;
  width: 100%;

  &::before {
    background-image: encode_svg('<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="#333" d="M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z"/></svg>');
    background-size: contain;
    content: '';
    height: 24px;
    left: 16px;
    position: absolute;
    top: 6px;
    width: 24px;
  }
}
