.layout_footer {
  padding: 40px 20px 60px;
  background-color: #222;
  max-width: 1000px;
  margin: 0 auto;
}

.layout_footer-list {
  text-align: center;
  margin: 0 0 10px;
  line-height: 1.75;
  padding: 0;
}

.layout_footer-list_item {
  display: inline-block;
  padding: 0 8px;
}

.layout_footer-link {
  text-rendering: optimizeLegibility;
  color: #717171;
  letter-spacing: .3px;
  font-size: .94rem;
  white-space: nowrap;
}

.layout_footer-sub_link {
  text-rendering: optimizeLegibility;
  color: #b5b5b5;
  letter-spacing: .3px;
  font-size: .8rem;
}