.layout-columns {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #fff;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  @media only screen and (min-width: 50em) {
    max-width: 1000px;
  }
}

.layout-columns-column_1 {
  @media only screen and (min-width: 50em) {
    width: 38.196601126%;
    float: left;
  }
}

.layout-columns-column_2 {
  @media only screen and (min-width: 50em) {
    width: 61.803398875%;
    float: right;
  }
}