%ol.post_list
  - posts.each_with_index do |post, index|
    %li.post_list-item{ class: index == 0 ? '' : 'post_list-item--thumb' }
      %article.post_list-post
        .post_list-date_wrap
          .post_list-date
            = post.date.strftime('<span class="post_list-date_day">%d</span> <span class="post_list-date_month">%b</span> <span class="post_list-date_year">%Y</span>')
        .post_list-content
          %header.post_list-header
            %h3.post_list-title
              %a.post_list-header_link{ href: href_for_post(post) }
                = post.title_without_year
          %a.post_list-backdrop_wrap{ href: href_for_post(post) }
            .post_list-backdrop{ data: { backdrop: post.backdrop } }
          .post_list-excerpt
            = first_paragraph(grade_to_image_tag(grade: post.grade, options: { class: 'post_list-grade' }) + ' ' + post.content)
            / %a.post_list-read_more{ href: href_for_post(post) }Read more...

