.shared_from {
  font-size: 13px;
  color: #aaa;
  line-height: 1.4;
  margin-left: 13px;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.post_list {
	margin: 0;
  padding: 0;
  list-style-type: none;
}

.post_list-item {
  margin: 0 0 30px 0;
  padding: 0;

  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #e5e5e5;
    margin-top: 30px;
    margin-right: 0;
  }

  &:nth-child(3n + 3) {
    .post_list-backdrop_wrap {
      @media only screen and (min-width: 37.5em) {
        width: 33.33%;
        margin-bottom: 0;
      }
    }

    .post_list-excerpt {
      @media only screen and (min-width: 37.5em) {
        width: 66.67%;
        padding-left: 0;
      }
    }
  }
}

.post_list-headline {
  font-size: 24px;
  margin: 10px 0;
}

.post_list-header_link {
  color: inherit;
}

.post_list-meta {
  line-height: 1.4;
  color: #aaa;
  font-size: 13px;
  margin-bottom: 15px;
  min-height: 44px;
}

.post_list-meta_category {
  color: rgba(0,0,0,0.75);
  font-size: 15px;
}

.post_list-meta_category_link {
  color: inherit;
  display: inline-block;
}

.post_list-content {
  margin: 0 -1.12rem;
  max-width: none;
  width: auto;

  &:before {
    content: '';
    display: table;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.post_list-backdrop_wrap {
  @media only screen and (min-width: 37.5em) {
    padding-left: 1.12rem;
    padding-right: 1.12rem;
    width: 100%;
    float: left;
  }
}

.post_list-backdrop {
  margin: 3px 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: .8s opacity;
  cursor: pointer;

  &:before {
    padding-top: 56.249999993%;
    height: 0;
    content: '';
    display: block;
  }

  &.loaded {
    opacity: 1;
  }
}

.post_list-excerpt {
  padding-left: 1.12rem;
  padding-right: 1.12rem;
  width: 100%;
  float: left;

  @media only screen and (min-width: 37.5em) {
    padding-left: 1.12rem;
    padding-right: 1.12rem;
    width: 83.33%;
    float: left;
  }
}

.post_list-excerpt p {
  font-family: "ElizabethSerif",Georgia,serif;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 0;
}