%ol.post_list
  - posts.each do |key|
    - post = post_for_key(key)
    %li.post_list-item
      %article.post_list-post
        %header
          %h3.post_list-headline
            %a.post_list-header_link{ href: href_for_post(post) }
              = markdown(post.headline, inline: true)
          .post_list-meta
            .post_list-meta_category
              = category_link_for_post(post, class: 'post_list-meta_category_link')
            .post_list-meta_date
              = post.date.strftime('%b %-d, %Y')

        .post_list-content
          .post_list-backdrop_wrap
            .post_list-backdrop{ data: { backdrop: post.backdrop } }
          .post_list-excerpt
            = first_paragraph(post.content)