@import 'source/layouts/layout_single';
@import 'source/components/page/page';

%horizontal-rule {
  background-color: #e9e7e0;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 1px;
  width: 5rem;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: calc(50% - 2.5rem);
}

.how_i_grade {
  h2 {
    position: relative;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    padding-top: 20px;

    &:before {
      @extend %horizontal-rule;
      margin: 0 auto 20px;
    }
  }

  h3 {
    color: #a9a287;
    font-size: 22px;
    font-weight: bold;

    @media (min-width: 31.3125em) {
      font-size: 24px;
    }
  }

  ul {
    margin: 0 0 2.4rem;
    padding: 0;

    li {
      font-weight: 400;
      list-style-type: none;
    }
  }

  .post_content img {
    display: inline-block;
    height: 17px;
    position: relative;
    top: 1px;
    margin-right: 2px;


    @media (min-width: 31.3125em) {
      height: 19px;
    }
  }
}
