.review {
  padding-bottom: 30px;
}

.review-title {
  // margin-top: 20px;
  // text-align: center;
  font-size: 42px;
  padding: 30px 20px 20px;
  margin-bottom: 0;
  line-height: 1.1;
  // font-style: italic;
  text-align: center;
}

.review-grade {
  display: block;
  height: auto;
  margin: 10px auto 30px;
  width: 33%;
  max-width: 150px;
}

.review-wrap {

  @media (min-width: 50.3125em) {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eaeaea;
    padding-top: 28px;
  }
}

.review-meta {
  // order: 1;
  // padding: 30px 0 0;
  // width: 180px;
  // border-bottom: 1px solid #eaeaea;
  // text-align: center;
  // margin: 0 1.12rem 28px;
  // display: flex;
  max-width: 700px;
  margin: 30px auto 30px;

  @media(min-width: 43.75em) {
    // max-width: 700px;
    // margin: 0 auto 28px;
  }

  @media (min-width: 31.3125em) {
    // flex-grow: 1;
  }

  font-feature-settings: 'ordn', 'lnum';
  font-family: "freight-text-pro",Georgia,serif;
  font-size: 20px;
  letter-spacing: .16px;
  line-height: 26px;

  @media (min-width: 31.3125em) {
    font-size: 21px;
    line-height: 1.58;
    margin-bottom: 21px;
  }
}

.review-meta_title {
  font-weight: bold;
  display: block;
  white-space: nowrap;
}

.review-meta_aka_heading {
  &:after {
    content: ': ';
  }
}

.review-meta_aka_title {
  white-space: nowrap;
  font-style: italic;
  // display: block;

  &:after {
    content: ' | ';
    white-space: normal;
  }

  &:last-of-type:after {
    content: '';
  }
}

.review-meta_director {
  display: block;

  // &:after {
  //   content: ' | '
  // }
}

.review-meta_country {
  display: block;
}

.review-meta_seen {
  display: block;
}

.review-content {
  position: relative;
  border-bottom: 1px solid #e9e7e0;
  max-width: 700px;
  margin: 0 auto 20px;
  // padding: 0 0 0 30px;
  // padding-right: 10px;
  // order: 2;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 1px;
  //   height: 100%;
  //   background-color: #e9e7e0;
  // }

  time {
    font-variant: normal !important;
    font-size: 20px;
    text-transform: uppercase;
  }

  p:first-child:first-line {
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 23px;
    color: #000;
  }
}

.review .post_content {
  // display: flex;
  // flex-wrap: wrap;
  // // border-top: solid 1px #e9e7e0;
  // justify-content: space-between;
}

.review-tags {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.4;
  // text-align: center;
}

.review-tags_list {
  padding: 0 0 40px;
  list-style-type: none;
  margin: 0;
}

.review-tags_list_item {
  display: inline-block;
}

.review-tags_link {
  background-color: #f5f5f5;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 8px 8px 0;
  display: block;
}
