.mast {
  height: 60px;
  border-bottom: 1px solid #eaeaea;
  background: rgba(255, 255, 255, .99);
  line-height: 60px;
}

.mast-wrap {
  padding: 0 1.12rem;
}

.mast-title {
  font-size: 1.35rem;
  font-weight: 800;
  font-style: normal;
  margin: 0;
  line-height: 62px;
}

.mast-title_link {
  display: inline-block;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-transform: uppercase;
  height: 32px;
  padding: 4px;
  line-height: normal;
  text-decoration: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.mast-search_form,
.mast-search_button {
  display: none;
}