%footer.footer
  %ul.footer-list
    %li.footer-list_item
      %a.footer-link{ href: '/features/welcome-back' } About
    %li.footer-list_item
      %a.footer-link{ href: '/features/how-i-grade/' } How I Grade
    %li.footer-list_item
      %a.footer-link{ href: '/viewings/' } Viewing Log
    %li.footer-list_item
      %a.footer-link{ href: '/metrics/' } Metrics
  %ul.footer-list
    %li.footer-list_item
      %a.footer-sub_link{ href: 'https://twitter.com/FranksMovieLog' } Twitter
    %li.footer-list_item
      %a.footer-sub_link{ href: '/feed.xml' } RSS