%ol.cast_and_crew_list
  - people.each do |person|
    %li.cast_and_crew_list-item{ data_for_person(person: person, credits_method: credits_method) }
      #{cast_and_crew_link(person, class: 'cast_and_crew_list-name')} (#{person.send(credits_method).length})
