:ruby
  lists = [
    {
      text: 'Director',
      credits: person.direction_credits
    },
    {
      text: 'Performer',
      credits: person.performance_credits
    },
    {
      text: 'Writer',
      credits: person.writing_credits
    }
  ]

.cast_and_crew_credits
  - lists.each do |list|
    - if list[:credits]
      %h2.cast_and_crew_credits-heading{ id: list[:text].downcase }
        <b>#{list[:text]}</b> (#{list[:credits].length} titles)
      - posts = list[:credits].map{ |t| Movielog.reviews_by_title[t] }
      %ol.cast_and_crew_credits-list
        - posts.each_with_index do |post, index|
          %li.cast_and_crew_credits-credit
            %h3
              %a.cast_and_crew_credits-title{ href: href_for_post(post) }
                = post.display_title
            %a.cast_and_crew_credits-backdrop_wrap{ href: href_for_post(post) }
              .cast_and_crew_credits-backdrop{ data: { backdrop: post.backdrop } }
            .cast_and_crew_credits-excerpt
              = first_paragraph(grade_to_image_tag(grade: post.grade, options: { class: 'cast_and_crew_credits-grade' }) + ' ' + post.content)

