.more_posts {
  margin: 0 auto;
  max-width: 700px;
  padding-bottom: 30px;
}

.more_posts-heading {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  padding-bottom: 4px;
  border-bottom: 1px solid #e9e7e0;
  margin: 0 0 10px;
}

.more_posts-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.more_posts-list_item {
  width: 23%;
  display: block;
  // margin-bottom: 20px;

  &:nth-child(even) {
    // padding-right: 0;
    // padding-left: 10px;
  }
}

.more_posts-backdrop {
  margin: 0 0 7px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: .8s opacity;

  &:before {
    padding-top: 56.25%;
    height: 0;
    content: '';
    display: block;
  }

  &.loaded {
    opacity: 1;
  }
}

.more_posts-grade {
  width: 40%;
}

.more_posts-title {
  font-size: 14px;
  line-height: 15px;
  color: #333;
  display: block;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  width: 95%;
}
