:ruby
  avatar = Movielog.avatars[person.slug]

.cast_and_crew_card
  .cast_and_crew_card-header
    - if avatar
      .cast_and_crew_card-avatar{ data: { backdrop: avatar.image_url }}

    %h1.cast_and_crew_card-name
      #{person.first_name} #{person.last_name}
    .cast_and_crew_card-stats
      #{person.all.keys.length} reviewed titles.

  %ul.cast_and_crew_card-nav
    - if person.direction_credits
      %li.cast_and_crew_card-nav_item
        %a.cast_and_crew_card-nav_item_link{ href: '#director'}
          Director
    - if person.performance_credits
      %li.cast_and_crew_card-nav_item
        %a.cast_and_crew_card-nav_item_link{ href: '#performer'}
          Performer
    - if person.writing_credits
      %li.cast_and_crew_card-nav_item
        %a.cast_and_crew_card-nav_item_link{ href: '#writer'}
          Writer
