.cast_and_crew_card {
  @media only screen and (min-width: 50em) {
    margin: 24px auto 0;
  }
}

.cast_and_crew_card-header {
  background-color: #fafafa;
  border-bottom: 1px solid rgba(223,223,233,0.5);

  padding: 35px 0 44px;

  @media only screen and (min-width: 50em) {
    max-width: 16.25rem;
    margin: 0 1.12rem;
    border-radius: 5px;
    border: 1px solid rgba(223,223,233,0.5);
  }
}

.cast_and_crew_card-avatar {
  display: block;
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
  background-size: contain;
}

.cast_and_crew_card-name {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.62rem;
  font-weight: normal;
  margin: 0 0 5px;
}

.cast_and_crew_card-stats {
  color: #aaa;
  text-align: center;
  margin-bottom: 8px;
  line-height: 1.12rem;
  font-size: .88rem;
}

.cast_and_crew_card-nav {
  background-clip: padding-box;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media only screen and (min-width: 50em) {
    max-width: 16.25rem;
    margin: 1.5rem 1.12rem 0;
    border-radius: 5px;
    border: 1px solid #eaeaea;
  }
}

.cast_and_crew_card-nav_item {
  margin: 0;
  padding: 0;
}

.cast_and_crew_card-nav_item_link {
  display: block;
  text-decoration: none;
  padding: 18px 32px 18px 16px;
  position: relative;
  font-size: 19px;
  color: #acacac;

  &:after {
    content: '';
    background-image: encode-svg('<svg xmlns="http://www.w3.org/2000/svg" width="2048" height="2048"><path d="M1315 1024q0-13-10-23L839 535q-10-10-23-10t-23 10l-50 50q-10 10-10 23t10 23l393 393-393 393q-10 10-10 23t10 23l50 50q10 10 23 10t23-10l466-466q10-10 10-23z" fill-opacity=".3"/></svg>');
    position: absolute;
    right: 16px;
    top: 18px;
    width: 24px;
    height: 24px;
    background-size: contain;
  }
}

.cast_and_crew_card-nav_item + .cast_and_crew_card-nav_item {
  border-top: 1px solid #eaeaea;
}