@import 'source/stylesheets/mixin_body_text';

.post_content {
  padding: 0 20px;
  max-width: 740px;
  margin: 0 auto;

  time {
    font-variant: normal !important;
    font-size: 20px;
    text-transform: uppercase;
  }

  p {
    @include body-text;
  }
}

.post_content .footnotes {
  position: relative;
  padding-top: 20px;

  &:before {
    background-color: #e9e7e0;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  hr {
    display: none;
  }

  ol {
    padding: 0 20px;
  }

  p {
    font-size: 18px;
  }
}
