@import 'source/stylesheets/variables';

.reviews_list {
  counter-reset: review-list;
  margin: 0 20px;
  padding: 0 0 60px;

  @media only screen and (min-width: 50em) {
    margin-top: 30px;
  }
}

.reviews_list-item {
  display: block;
  margin-bottom: 5px;
  position: relative;

  &:after {
    background-color: $color_primary;
    bottom: -4px;
    content: '';
    display: block;
    height: 1px;
    left: 30px;
    margin: 2px 0;
    position: absolute;
    right: 0;
  }

  @media only screen and (min-width: 50em) {
    display: flex;
  }
}

.reviews_list-title {
  display: flex;

  a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:before {
    content: counter(review-list) '. ';
    counter-increment: review-list;
    font-size: 14px;
    max-width: 30px;
    min-width: 30px;
    padding-right: 5px;
    text-align: right;
    width: 30px;
  }

  @media only screen and (min-width: 50em) {
    flex-grow: 1;
    min-width: 0;
  }
}

.reviews_list-slug {
  color: $color_text_hint;
  font-feature-settings: 'tnum';
  font-size: 14px;
  margin-left: 10px;
  text-align: right;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  width: 175px;

  @media only screen and (min-width: 50em) {
    margin-left: 0;
  }
}

.reviews_list-grade {
  display: inline-block;
  height: auto;
  padding: 0 5px;
  position: relative;
  top: 3px;
  width: 85px;
}
