---
layout: :layout_columns
---
:ruby
  content_for(:inline_css, 'source/templates/reviews/reviews.scss')
  content_for(:javascript) do
    javascript_include_tag('load-backdrops.js', async: :async )
    javascript_include_tag('filters.js', async: :async )
  end

- content_for :layout_column_1 do
  = partial('templates/reviews/reviews_header', locals: { reviews: reviews })
  = partial('templates/reviews/reviews_filters', locals: { reviews: reviews })

- content_for :layout_column_2 do
  = partial('templates/reviews/reviews_list', locals: { reviews: reviews })
