@import 'source/stylesheets/variables';
@import 'source/stylesheets/filters';

.viewings_filters {
  border: 1px solid $color_background;
  border-radius: 5px;
  margin: 20px;
}

.viewings_filters-heading {
  border-bottom: 1px solid $color_background;
  color: $color_accent;
  display: block;
  font-size: 19px;
  font-weight: normal;
  margin: 0 0 20px;
  padding: 20px;
  position: relative;
  text-decoration: none;
}

.viewings_filters-content {
  padding: 0 20px;
}
