.viewings_list {
  padding: 0;
  margin: 0 0 35px;

  @media only screen and (min-width: 50em) {
    margin-top: 24px;
  }
}

.viewings_list-item {
  font-weight: normal;
  list-style-type: none;
  padding: 0;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    background-color: #e9e7e0;
    margin: 0;
    bottom: 0;
    left: 20px;
    right: 0;
  }
}

.viewings_list-item_title {
  display: block;
  font-size: 18px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 20px 20px 0;
}

.viewings_list-item_slug {
  color: #aaa;
  font-size: 15px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  padding: 0 20px 20px;
}