---
title: Viewing Log
layout: :layout_columns
---
:ruby
  sorted_viewings = viewings.keys.sort.reverse

- content_for :layout_column_1 do
  = partial('viewings/viewings_header', locals: { viewings: viewings })
  = partial('viewings/viewings_filters', locals: { viewings: viewings })

- content_for :layout_column_2 do
  = partial('viewings/viewings_list', locals: { viewing_keys: sorted_viewings })
  = javascript_include_tag('filters.js', async: true)