.post_backdrop-wrap {
  margin: 0;
  position: relative;
}


.post_backdrop-placeholder {
  opacity: 1;
  transition: .8s opacity linear;
  position: absolute;
  transition: .8s opacity;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.post_backdrop {
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  &:before {
    padding-top: 56.249999993%;
    height: 0;
    content: '';
    display: block;
  }

  &.loaded {
    .post_backdrop-placeholder {
      opacity: 0;
    }
  }
}
