- if post.backdrop
  .post_backdrop-wrap
    .post_backdrop{ data: { backdrop: post.backdrop } }
      %img.post_backdrop-placeholder{ src: post.backdrop_placeholder }
      %noscript
        %img.backdrop-noscript{ src: post.backdrop }
