---
layout: :layout_single
---
:ruby
  page = Movielog.pages['welcome-back']
  content_for(:title, 'About')
  content_for(:inline_css, 'source/templates/about/about.scss')
  content_for(:javascript, javascript_include_tag('load-backdrops.js', async: :async))

= partial('components/page/page', locals: { page: page })
