:ruby
  lists = [
    {
      text: 'Director',
      credits: person.direction_credits
    },
    {
      text: 'Performer',
      credits: person.performance_credits
    },
    {
      text: 'Writer',
      credits: person.writing_credits
    }
  ]

.reviews_for_person_review_list
  - lists.each do |list|
    - if list[:credits]
      %h2.reviews_for_person_review_list-heading{ id: list[:text].downcase }
        #{list[:text]} (#{list[:credits].length} titles)
      - reviews = list[:credits].map{ |t| Movielog.reviews_by_title[t] }
      %ol.reviews_for_person_review_list-list
        - reviews.each do |review|
          %li.reviews_for_person_review_list-credit
            %h3
              %a.reviews_for_person_review_list-title{ href: href_for_review(review) }
                = review.title
            %a.reviews_for_person_review_list-backdrop_wrap{ href: href_for_review(review) }
              .reviews_for_person_review_list-backdrop{ data: { backdrop: review.backdrop } }
                %img.reviews_for_person_review_list-backdrop_placeholder{ src: review.backdrop_placeholder }
            .reviews_for_person_review_list-excerpt
              = first_paragraph(grade_to_image_tag(grade: review.grade, options: { class: 'reviews_for_person_review_list-grade', width: '90px', height: '18px' }) + ' ' + review.content)

