---
layout: :layout_single
---
:ruby
  content_for(:title, "#{person.first_name} #{person.last_name} Movie Reviews")
  content_for(:inline_css, 'source/templates/reviews_for_person/reviews_for_person.scss')
  content_for(:javascript, javascript_include_tag('load-backdrops.js', async: :async))

= partial('templates/reviews_for_person/reviews_for_person_header', locals: { person: person })
= partial('templates/reviews_for_person/reviews_for_person_review_list', locals: { person: person })
