%h2.card-header_title
  About
.card-content
  %p
    Hi there. I'm Frank. This site is a catalog of my movie-watching adventures. I keep a searchable <a href='/viewings/' data-no-carnac>viewing log</a> where I track everything I see.
  %p
    Once upon a time, I reviewed everything I watched, but these days I aim for quality over quantity. I’m not a great writer. Maybe not even a good one. But with practice I can be better.
.card-actions
  %a.about_twitter_link{ href: 'http://twitter.com/FranksMovieLog' }
    Find me on Twitter