.card.card--with_shadow.about
  %h2.footer_header 
    About
  %p.card_text
    Hi there. I'm Frank. This site is a catalog of my movie-watching adventures. I keep a searchable <a href='/viewings/' data-no-instant>viewing log</a> where I track everything I see, and I try to review as much as I can. If you're curious about the star ratings, I wrote a piece on <a href='/features/how-i-grade/'>how I grade</a>. Once upon a time, I reviewed everything I watched, but these days I aim for quality over quantity. I’m not a great writer. Maybe not even a good one. But with practice I can be better.
  .card_actions.card_actions--with_divider
    %a.about_twitter_link{ href: 'http://twitter.com/FranksMovieLog',
                        data: { no_instant: true }}
      Find me on Twitter