.card.card--with_shadow.about
  %h2.footer_header.card_header-title
    About
  %p.card_text
    Hi there. I'm Frank. This site is a catalog of my movie-watching adventures. I keep a searchable <a href='/viewings/' data-no-carnac>viewing log</a> where I track everything I see.
    <br />
    <br />
    Once upon a time, I reviewed everything I watched, but these days I aim for quality over quantity. I’m not a great writer. Maybe not even a good one. But with practice I can be better.
  .card_actions.card_actions--with_divider
    %a.about_twitter_link{ href: 'http://twitter.com/FranksMovieLog' }
      Find me on Twitter