- prev_post = Movielog.posts[current_post.sequence - 1]
- next_post = Movielog.posts[current_post.sequence + 1]

.post_navigation
  - if next_post
    .post_navigation-item
      %h2.post_navigation-header_next
        Next Post
      .card
        = card_content_for_post(next_post)
  - if prev_post
    .post_navigation-item
      %h2.post_navigation-header_prev
        Prev Post
      .card
        = card_content_for_post(prev_post)