---
layout: :columns
---
:ruby
  content_for(:title, "#{person.first_name} #{person.last_name}")

- content_for :layout_column_1 do
  = partial('components/cast_and_crew_header/cast_and_crew_header', locals: { person: person })
- content_for :layout_column_2 do
  = partial('components/cast_and_crew_list/cast_and_crew_list', locals: { person: person })
