---
---
:ruby
  content_for(:title, feature.title)
  content_for(:description, feature.pull_quote) if feature.pull_quote

%article.feature
  %h1.page-title{ data: { rhythm: 0 } }= feature.title

  .post-content{ class: feature.slug, data: { rhythm: 0 } }
    = markdown(feature.content)

  .feature-slug
    %span.title
      #{feature.title}
    = " was published on #{feature.date}."

