---
layout: :single
---
:ruby
  content_for(:title, feature.headline)
  headline = feature.headline.gsub(/(_[^_]*_)/) { |match| match.upcase.gsub('_', '') }
  description = first_paragraph(feature.content)

- content_for(:head) do
  %meta{ property: 'og:title', content: headline }
  %meta{ property: 'og:url', content: "https://www.franksmovielog.com/features/#{feature.slug}" }
  %meta{ property: 'og:image', content: feature.backdrop }
  %meta{ property: 'og:description', content: description }

  %meta{ name: 'description', content: description }
  %meta{ name: 'twitter:card', content: 'summary_large_image' }
  %meta{ name: 'twitter:site', content: '@franksmovielog' }
  %meta{ name: 'twitter:title', content: headline }
  %meta{ name: 'twitter:description', content: description }
  %meta{ name: 'twitter:image', content: feature.backdrop }

= partial('components/feature/feature', locals: { feature: feature })
= partial('components/post_share_footer/post_share_footer', locals: { post: feature })