---
---
:ruby
  content_for(:title, feature.title)

- content_for(:head) do
  %meta{ name: 'description', content: feature.pull_quote }
  %meta{ name: 'twitter:card', content: 'summary_large_image' }
  %meta{ name: 'twitter:site', content: '@franksmovielog' }
  %meta{ name: 'twitter:title', content: feature.title }
  %meta{ name: 'twitter:description', content: markdown(feature.pull_quote) }
  %meta{ name: 'twitter:image', content: feature.backdrop }

.page_wrap
  .main
    %article.post
      %h1.post_title{ data: { rhythm: 0 } }= feature.title

      - if feature.backdrop
        .post-backdrop_wrap
          .post_backdrop{ data: { backdrop: feature.backdrop } }

      .post_content{ class: feature.slug, data: { rhythm: 0 } }
        = markdown(feature.content)

  .sidebar
    %p.review-slug
      %span
        &ldquo;#{feature.title}&rdquo;
      = " was published on #{feature.date.strftime('%b %-d, %Y')}. "
