---
layout: :single
pagination:
  for: posts
  per_page: 20
  path: page-:num/index
---

= partial('components/post_list/post_list', locals: { posts: pagination })
= partial('components/pagination/pagination', locals: { pagination: pagination })