---
sitemap_ignore: true
---
!!!
%html{ xmlns: 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en-us', lang: 'en-us' }
  %head
    %meta{ 'http-equiv' => 'refresh', content: "0; url=http://www.franksmovielog.com/#{new_slug}" }
    %link{ rel: 'canonical', href: "http://www.franksmovielog.com/#{new_slug}" }
  %body