@import 'source/stylesheets/variables';
@import 'source/components/more_list/more_list';

.home_pagination {
  margin-bottom: 40px;
}

.home_pagination-more_heading {
  border-bottom: 1px solid $color_primary;
  font-size: 16px;
  margin: 60px 0 10px;
  padding-bottom: 4px;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

.home_pagination-next_page {
  margin-top: 20px;
  text-align: center;
}

.home_pagination-next_page_link {
  border: 1px solid $color_primary;
  border-radius: 5px;
  color: $color_heading;
  display: inline-block;
  font-size: 15px;
  line-height: 38px;
  margin-top: 30px;
  padding: 0 60px 0 20px;
  position: relative;
  text-align: center;

  &:after {
    background-image: encode_svg('<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path d="M6.165 3.874c-.217-.204-.22-.53-.008-.73.206-.192.56-.195.776.008l5.902 5.48c.11.102.165.236.165.37-.002.126-.055.262-.165.365l-5.902 5.478c-.217.204-.564.207-.776.007-.206-.193-.21-.525.008-.728L11.69 9 6.165 3.873z"></path></svg>');
    background-size: contain;
    content: '';
    height: 20px;
    opacity: .3;
    position: absolute;
    right: 20px;
    top: 9px;
    width: 20px;
  }
}
