:ruby
  next_items = (next_items(pagination) || []).map { |key| Movielog.reviews[key] }

- if pagination.next_page
  .home_pagination-more_heading
    More from Frank's Movie Log
  = partial('components/more_list/more_list', locals: { reviews: next_items })

- if pagination.next_page
  .home_pagination
    .home_pagination-next_page
      %a.home_pagination-next_page_link{ href: pagination.next_page.url }
        More reviews