---
layout: :layout_single
pagination:
  for: reviews
  per_page: 20
  path: page-:num/index
---
:ruby
  reviews = pagination.map{ |k| Movielog.reviews[k] }
  content_for(:inline_css, 'source/templates/home/home.scss')
  content_for(:javascript, javascript_include_tag('load-backdrops.js', async: :async ))

.home
  = partial('templates/home/home_review_list', locals: { reviews: reviews })
  = partial('templates/home/home_pagination', locals: { pagination: pagination })

